﻿<a href='{{evaluateExpression(item.Current.Url)}}'
   target='preview'
   title='View page versions'
   class='page-action page-action-description page-versions'
   translate="versions.action"
   x-page-action-icon-class>
	<b class="ico n2-icon-briefcase"></b>
	Versions<br />
	<span class="draft" ng-show="Context.CurrentItem.State == Content.states.Draft" translate="versions.draft"><b class="n2-icon-circle-blank"></b> Draft</span>
	<span class="waiting" ng-show="Context.CurrentItem.State == Content.states.Waiting" translate="versions.waiting"><b class="n2-icon-time"></b> Scheduled</span>
	<span class="published" ng-show="Context.CurrentItem.State == Content.states.Published" translate="versions.published"><b class="n2-icon-play-sign"></b> Published</span>
	<span class="unpublished" ng-show="Context.CurrentItem.State == Content.states.Unpublished" translate="versions.unpublished"><b class="n2-icon-stop"></b> Unpublished</span>
	<span class="deleted" ng-show="Context.CurrentItem.State == Content.states.Deleted" translate="versions.deleted"><b class="n2-icon-trash"></b> Deleted</span>
</a>

<a href="#" class="dropdown-toggle" data-toggle="dropdown"
	ng-controller='VersionsCtrl'
	ng-click='loadVersions(item)'
	translate="versions.toggle">
	<b class="caret"></b>
</a>

<ul class="dropdown-menu versions" ng-show="item.Children.length">
	<li ng-repeat="child in item.Children" ng-class="{ draft: child.Current.State == Content.states.Draft, waiting: child.Current.State == Content.states.Waiting, published: child.Current.State == Content.states.Published, unpublished: child.Current.State == Content.states.Unpublished || child.Current.State == Content.states.Deleted, selected: child.Current.VersionIndex == Context.CurrentItem.VersionIndex }">
		<a class="page-action" href="{{child.Current.PreviewUrl}}" target="preview">
			<strong>{{child.Current.VersionIndex + 1}}</strong>
			<b class='ico' ng-show='child.Current.IconClass || child.Current.IconUrl' ng-class="child.Current.IconClass || 'ico-custom'" x-background-image='child.Current.IconUrl'></b>
			{{child.Current.Title}}
			<span ng-show="child.Current.State == Content.states.Draft" translate="versions.states.draft">(published version)</span>
			<span ng-show="child.Current.State == Content.states.Published" translate="versions.states.published">(draft)</span>
			<span ng-show="child.Current.State == Content.states.Unpublished" translate="versions.states.unpublished">(previously published)</span>
			<span ng-show="child.Current.State == Content.states.Waiting" translate="versions.states.waiting">(scheduled for publishing)</span>
		</a>
	</li>
</ul>
