﻿<!--<button class="search-remove" ng-show="search.searching || search.hits != null" ng-click="search.clear()" class="btn" style="" translate="search.clear"><b class="n2-icon-remove"></b></button>-->

<div ng-controller="SearchCtrl" ng-class="{ open: search.show, closed: !search.show }">
    <div class="page-action">
        <input class="search-query" placeholder="Search" type="search"
               ng-model="search.query"
               n2-key-enter="search.execute(search.query)"
               n2-focus="search.show"
               translate="search.query" />
        <a href="#" ng-click="toggleSearch()">
            <b ng-hide="search.show" class="ico n2-icon-search"></b>
            <b ng-show="search.show" class="ico n2-icon-remove"></b>
        </a>
    </div>
    <ul id="search" class="dropdown-menu" ng-show="!!search.hits">
        <li ng-show="search.query && !search.searching && search.hits != null && !search.hits.length"><a href="#"><em translate="search.nohits">No hits</em></a></li>
        <li ng-repeat="hit in search.hits">
            <a n2-focus="search.focused == $index" href="{{hit.PreviewUrl}}" target="preview">
                <b class='ico' ng-show='hit.IconClass || hit.IconUrl' ng-class='hit.IconClass || "ico-custom"' x-background-image='hit.IconUrl'></b>
                {{hit.Title || ("(no name)" | translate:'search.noname')}}
            </a>
        </li>
        <!--</ul>-->
    </ul>
</div>
