﻿<a class="page-action" href="#schedule-dialog" role="button" bs-modal="'App/Partials/ContentScheduleDialog.html'" translate="schedule.action"
   x-page-action-icon-class>
	<b class="n2-icon-time"></b>Schedule
</a>
