﻿@using N2
@using N2.Web.Drawing
@model Acd.Web.Public.Models.ContentPart

@{
    Content.Define(re =>
    {
        re.Title = "FlexSlider";
        re.Title();
    });
}

<div class="hero" id="hero-desktop">
    <div class="flexslider">
        <ul class="slides">
            @{ Html.DroppableZone("SliderArea").Render(); }
        </ul>
    </div>
</div>

@{
    var sliderItems = Content.Current.Item.GetChildren(
        new N2.Collections.ZoneFilter("SliderArea"),
        new N2.Collections.PublishedFilter());

}

<div class="hero" id="hero-mobile">
    @foreach (var sliderItem in sliderItems)
    {
        using (Content.BeginScope(sliderItem))
        {
            var heroItems = Content.Current.Item.GetChildren(
                new N2.Collections.ZoneFilter("HeroArea"),
                new N2.Collections.PublishedFilter());
            foreach (var heroItem in heroItems)
            {
                using (Content.BeginScope(heroItem))
                {
                    string imageUrl = Content.Data.Image;
                    if (!string.IsNullOrEmpty(imageUrl))
                    {
                        imageUrl = ImagesUtility.GetResizedPath(Content.Data.Image, "hero");
                    }

                    <div class="hero-wrap">
                        <div class="slider-hero3">
                            @if (!string.IsNullOrEmpty(Content.Data.LinkTarget))
                            {
                                <h2>
                                    <a class="" href="@Content.Data.LinkTarget">@Content.Data.Title</a>
                                </h2>
                            }
                            else
                            {
                                <h2>@Content.Data.Title</h2>
                            }
                        </div>
                        <div class="arrow"></div>
                        <div class="slider-hero2">
                            @if (!string.IsNullOrEmpty(Content.Data.LinkTarget))
                            {
                                <a class="" href="@Content.Data.LinkTarget"><img src="@imageUrl" alt="@Content.Data.Title" class="img-responsive" /></a>
                            }
                            else
                            {
                                <img src="@imageUrl" alt="@Content.Data.Title" class="img-responsive" />
                            }

                        </div>
                    </div>
                }
            }
        }
    }
</div>

<div class="panel-group" id="accordion-slider" role="tablist" aria-multiselectable="true">
    @foreach (var sliderItem in sliderItems)
    {
        using (Content.BeginScope(sliderItem))
        {
            var id = string.Format("handing{0}", Content.Current.Item.ID);
            var id2 = string.Format("collapse{0}", Content.Current.Item.ID);
            var heroItems = Content.Current.Item.GetChildren(
                new N2.Collections.ZoneFilter("HeroArea"),
                new N2.Collections.PublishedFilter());
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="@id">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-slider" href="#@id2" aria-controls="@id2">
                            @Content.Data.Title
                        </a>
                    </h4>
                </div>
                <div id="@id2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@id">
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            @foreach (var heroItem in heroItems)
                            {
                                using (Content.BeginScope(heroItem))
                                {
                                    if (!string.IsNullOrEmpty(Content.Data.LinkTarget))
                                    {
                                        <li>
                                            <a href="@Content.Data.LinkTarget">@Content.Data.Title</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>@Content.Data.Title</li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    }
</div>
