﻿@using N2
@using N2.Web.Drawing
@using N2.Web.UI.WebControls
@model Acd.Web.Public.Models.ContentPart

@{
    Content.Define(ie =>
    {
        ie.Title = "Hero(Slider)";
        ie.IconUrl = "{IconsUrl}/photo.png";
        ie.Text("Title");
        ie.MediaUpload("Image");
        ie.Text("LinkText", "Link Text");
        ie.Url("LinkTarget", "Link Target");
        //re.RestrictParents("SlidePart");
    });

    var isDragDrop = Html.GetControlPanelState().IsFlagSet(ControlPanelState.DragDrop);

    string imageUrl = Content.Data.Image;
    if (!string.IsNullOrEmpty(imageUrl))
    {
        imageUrl = ImagesUtility.GetResizedPath(Content.Data.Image, "hero");
    }
}

@* Display none by default. Flex slider will set the inline styles when the code runs. *@
<div class="@(isDragDrop?"":"col-md-4")">
    <div class="hero-item">
        
        @if (isDragDrop)
        {
            <img src="@imageUrl" alt="@Content.Data.Title" class="img-responsive" style="@(isDragDrop?"max-width:100px;":"")" />
            <h3 style="color:#fff;text-align:left;">@Content.Data.Title</h3>
        }
        else
        {
            <div class="text">
                @if (!string.IsNullOrEmpty(Content.Data.Title))
                {
                    if (!string.IsNullOrEmpty(Content.Data.LinkTarget))
                    {
                        <h2>
                            <a href="@Content.Data.LinkTarget">@Content.Data.Title</a>
                        </h2>
                    }
                    else
                    {
                        <h2>@Content.Data.Title</h2>
                    }
                }
            </div>
            <div class="arrow"></div>
            <div class="img">
                @if (!string.IsNullOrEmpty(Content.Data.LinkTarget))
                {
                    <a href="@Content.Data.LinkTarget"><img src="@imageUrl" alt="@Content.Data.Title" class="img-responsive" style="@(isDragDrop?"max-width:100px;":"")" /></a>
                }
                else
                {
                    <img src="@imageUrl" alt="@Content.Data.Title" class="img-responsive" style="@(isDragDrop?"max-width:100px;":"")" />
                }
            </div>
        }
    </div>
</div>