﻿@model Acd.Web.Public.Models.ContentPart
@{ Content.Define(re =>
    {
        re.Title = "Hyperlink";
        re.Url("Destination");
        re.Text("Text");
        re.CheckBox("IsButton", "Is Button");
    });
}
<p>
@if (Content.Has.IsButton && Content.Data.IsButton)
{
    <a class="btn btn-default" href="@Content.Data.Destination">@Content.Data.Text</a>
}
else
{
    <a href="@Content.Data.Destination">@Content.Data.Text</a>
}</p>