﻿@using N2
@using N2.Web.Drawing
@using N2.Web.UI.WebControls
@model Acd.Web.Public.Models.ContentPart

@{
    Content.Define(ie =>
    {
        ie.Title = "Slider Image";
        ie.IconUrl = "{IconsUrl}/photo.png";
        ie.Text("Title");
        ie.MediaUpload("Image");
        ie.ImageSize("Size");
        ie.Text("Text");
        ie.Url("LinkTarget");
        //re.RestrictParents("SlidePart");
    });

    string imageUrl = Content.Data.Image;
    string preferedSize = Content.Data.Size;
    if (!string.IsNullOrEmpty(preferedSize))
    {
        imageUrl = ImagesUtility.GetResizedPath(Content.Data.Image, Content.Data.Size);
    }
}

@* Display none by default. Flex slider will set the inline styles when the code runs. *@
<li class="hero-wrap" style="@(Html.GetControlPanelState().IsFlagSet(ControlPanelState.DragDrop) ? string.Empty : "display: none")">
    <div class="slider-hero">
        <img src="@imageUrl" alt="@Content.Data.Title" />
        @if (!string.IsNullOrEmpty(Content.Data.LinkTarget))
        {
            <h1><a class="btn btn-default hero-btn ghost" href="@Content.Data.LinkTarget">@Content.Data.Title</a></h1>
        }
        else
        {
            <h1>@Content.Data.Title</h1>
        }
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h1>@Content.Data.Title</h1>
        </div>
        @{ Html.DroppableZone("HeroArea").Render(); }
    </div>
</li>