﻿@model Acd.Web.Public.Models.ContentPart

@{ Content.Define(re =>
	   {
		   re.Title = "3 Columns";
		   re.IconUrl = "{IconsUrl}/text_columns.png";
		   re.CheckBox("Separator", "Show separator");
	   });
}
<div class="row clearfix @((bool)(Content.Data.Separator ?? false) ? "separator" : "")">
	<div class="col-md-4 column1">
		@{ Html.DroppableZone("Left").Render(); }
	</div>
	<div class="col-md-4 column2">
		@{ Html.DroppableZone("Center").Render(); }
	</div>
	<div class="col-md-4 column3">
		@{ Html.DroppableZone("Right").Render(); }
	</div>
</div>