﻿<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    @{
        Html.RenderPartial("LayoutPartials/Head");
        if (IsSectionDefined("head"))
        {
        @RenderSection("head")
        }
    }
    @*@Html.Resources().JQuery()*@
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-5MWNB9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5MWNB9');
    </script>
    <!-- End Google Tag Manager -->
    @if (IsSectionDefined("page"))
    {
        @RenderSection("page")
    }
    else
    {
        <div class="nav-mob hidden-sm hidden-md hidden-lg">
            <div class="menu-btn">
                <a class="navicon-button x" data-toggle="collapse" data-target="#nav">
                    <div class="navicon"></div>
                </a>
            </div>
            @*<div class="search-btn-mob">Search</div>*@
        </div>

        <div id="content-wrapper">
            @if (IsSectionDefined("header"))
            {
                @RenderSection("header");
            }
            else
            {
                <div class="header" id="header">@{ Html.RenderPartial("LayoutPartials/Header"); }</div>
                Html.RenderPartial("LayoutPartials/TopNavigation"); 
            }

            @{ Html.RenderPartial("Zones/BeforeMain"); }

            @if (IsSectionDefined("main"))
            {
                @RenderSection("main")
            }
            else
            {
                <div class="main-content">
                    <div class="container">
                        @if (IsSectionDefined("breadcrumb"))
                        {
                            @RenderSection("breadcrumb")
                        }
                        else
                        {
                            Html.RenderPartial("LayoutPartials/Breadcrumb");
                        }
                        @if (IsSectionDefined("pageTitle"))
                        {
                            @RenderSection("pageTitle")
                        }
                        else
                        {
                            Html.RenderPartial("LayoutPartials/Title");
                        }
                        @{ Html.RenderPartial("Zones/BeforeContent"); }
                        @if (IsSectionDefined("mainText"))
                        {
                            @RenderSection("mainText")
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    @{Html.RenderPartial("LayoutPartials/SubNavigation");}
                                </div>
                                
                                <div class="col-md-8">
                                    @RenderBody()
                                </div>
                            </div>
                        }
                        @{ Html.RenderPartial("Zones/AfterContent"); }
                    </div>
                </div>
            }
            @{ Html.RenderPartial("Zones/AfterMain"); }
            <footer class="footer">@{ Html.RenderPartial("LayoutPartials/Footer"); }</footer>
        </div>
    }

    <!-- JavaScript -->
    <script src="/Scripts/modernizr.2.8.3.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.2/bootstrap.min.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/retina.js/1.0.1/retina.js"></script>*@
    <script src="/content/scripts/jquery.highlight-3.js"></script>
    <script src="/content/scripts/superfish.min.js"></script>
    <script src="/content/scripts/icheck.min.js"></script>
    <script src="/content/scripts/functions.js"></script>
    <script src="/content/scripts/dynamic-form.js"></script>
    <script src="/content/scripts/search.js"></script>
    <script> svgeezy.init(false, 'png'); </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.2/jquery.flexslider-min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "fade",
                prevText: "",
                nextText: "",
                pauseOnAction: true,
                slideshowSpeed: 8000
            });
        });
    </script>
    @if (IsSectionDefined("javascript"))
    {
        @RenderSection("javascript")
    }
    @{ Html.ControlPanel().Configure(cp => { cp.IncludeJQuery = false; }).Render(); }
</body>
</html>
