﻿<div class="cookie-alert-wrap" style="display: none;">
    <div class="cookie-alert">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8">
                    <div class="alert-text">You have a saved incomplete form, would you like to continue?</div>

                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="btn btn-default close-alert" href="">No thanks</a>
                    @{
                        var page = N2.Find.Items.Where.Type.Eq(typeof(Acd.Web.Public.Models.OnlineFormPage))
                            .Filters(new N2.Collections.PublishedFilter())
                            .Select().FirstOrDefault();
                        var url = page == null ? "#" : page.Url;
                    }
                    <a class="btn btn-default continue" href="@url">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>
