﻿@using Acd.Web.Public.Models
@{
    var showBreadcrumb = false;
    if (Content.Current.Page is ContentPage)
    {
        showBreadcrumb = (Content.Current.Page as ContentPage).ShowBreadcrumb;
    }
    if (!showBreadcrumb)
    {
        return;
    }
    var start = Content.Traverse.StartPage;
    var currentItem = Content.Current.Item;
    var breadcrumbs = Find.EnumerateParents(currentItem, start, true).ToList();
    breadcrumbs.Reverse();
    if (!breadcrumbs.Any())
    {
        return;
    }
}

<div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-3">
        <div class="bread">
            @foreach (var crumb in breadcrumbs)
            {
                if (crumb != currentItem)
                {
                <a href="@crumb.Url">@crumb.Title</a><span class="bread-separator"></span>
                }
                else
                {
                <span>@crumb.Title</span>
                }
            }
        </div>
    </div>
</div>
