﻿@*@if (!string.IsNullOrEmpty(Content.Data.Image))
{
    <figure class="page-image">
        <img src="@Content.Data.Image" class="img-@Content.Data.ImageDisplayType.ToString().ToLower()" alt="@Content.Data.Title" />
    </figure>
}*@

@Content.Display.Text

