﻿@{
    var currentPage = N2.Find.CurrentPage;
    var parents = N2.Find.Parents.ToList();
    if (currentPage != null)
    {
        parents.Add(currentPage);
    }
    var startPage = N2.Content.Traverse.StartPage;
    var roots = startPage.GetChildren(new N2.Collections.PageFilter(),
                new N2.Collections.AccessFilter(),
                new N2.Collections.PublishedFilter(),
                new N2.Collections.NavigationFilter());
}
<div class="row">
    @{
        foreach (var root in roots)
        {
            var active = parents.Count(x => x.ID == root.ID) > 0;
            var children = root.GetChildren(new N2.Collections.PageFilter(),
            new N2.Collections.AccessFilter(),
            new N2.Collections.PublishedFilter(),
            new N2.Collections.NavigationFilter());
            bool subnav = children.Any();
            <div class="col-sm-2">

                <h2 class="menu-item @(active ? "current" : null) @(subnav ? "has-subs" : null)"><a href="@root.Url" class="lev-one">@root.Title</a></h2>
                @{
            if (children.Any())
            {
                <ul class="footer-subnav hidden-xs hidden-sm">
                    @{
                foreach (var child in children)
                {
                    <li class="menu-item"><a href="@child.Url">@child.Title</a></li>
                }
                    }
                </ul>
            }
                }

            </div>
        }
    }
</div>