﻿<div class="container">
    <div class="row">
        @{
            var isOutOfStructure = Content.Current.Item == null && !string.IsNullOrEmpty(Request["returnUrl"]);
            using (isOutOfStructure ? Content.BeginScope(Request["returnUrl"]) : Content.BeginScope(Content.Traverse.StartPage))
            {
                @Content.Display.FooterText
            }
        }
    </div>

    <div class="row">
        <div class="footer-links-all">
            <div class="col-sm-12 col-md-12 col-lg-12">

                @{ Html.RenderPartial("LayoutPartials/FooterNavigation"); }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="footer-links">
            <div class="col-sm-12 col-md-12 col-lg-12">

                @{
                    var footerLinks = N2.Find.Items.Where.Type.Eq(typeof(Acd.Web.Public.Models.ContentPage)).Select<Acd.Web.Public.Models.ContentPage>().Where(x => x.VisibleFooter).ToList();

                    if (footerLinks.Any())
                    {
                        var home = footerLinks.FirstOrDefault(x => x.Url.Equals("/") || x.Url.Equals("/home"));
                        var links= footerLinks.Where(x => !(x.Url.Equals("/") || x.Url.Equals("/home"))).OrderBy(x => x.Title).ToList();
                        if (home != null)
                        {
                            links.Insert(0, home);
                        }
                        <ul class="list-inline">
                            @foreach (var item in links)
                            {
                                <li>
                                    <a class="" href="@item.Url">@item.Title</a>
                                </li>
                            }
                        </ul>
                    }
                }
            </div>
        </div>
    </div>



</div>
<!-- /container -->
