﻿<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
          @{Html.RenderPartial("LayoutPartials/Logotype");}
          <h3 style="color: #3C6E8F; padding-left: 40px;">What do you need to know?</h3>
      </div>
    	<div class="nav-mob-row clearfix" style="border: none;">
	        <div class="col-sm-4 hidden-mobile">
                @{
                    Html.DroppableZone("TopRecursive").Title("Top Recursive").Render();
                }
	        </div>
    	</div>
    </div>
</div>
