﻿<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@{
    N2.Web.Mvc.RenderHelper.DefaultEditable = false;
}
@Content.Register.Meta("Author").SortOrder(120).Container("Metadata").Display()
@Content.Register.Meta("Keywords").SortOrder(130).Container("Metadata").Display()
@Content.Register.Meta("Description").SortOrder(140).Container("Metadata").Display()

@{
    var title = (Content.Has.SeoTitle ? Content.Data.SeoTitle : Content.Data.Title);
    if (string.IsNullOrWhiteSpace(title))
    {
        title = ViewBag.Title;
    }
}
<title>@(title)</title>

@{
    N2.Web.Mvc.RenderHelper.DefaultEditable = true;
}
@{
    // Render the default bundles.
    //Bundles.Reference("Content");
    //Bundles.Reference("Scripts");
}

<!-- Bootstrap core CSS -->
<link href="/content/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/content/css/superfish.css" rel="stylesheet">
<link href="/content/css/styles.css" rel="stylesheet">

<link rel="shortcut icon" href="/content/images/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/content/images/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/content/images/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/content/images/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/content/images/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/content/images/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/content/images/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/content/images/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/content/images/favicon/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/content/images/favicon/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="/content/images/favicon/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/content/images/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/content/images/favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/content/images/favicon/favicon-32x32.png" sizes="32x32">

@{
    Html.Zone("Head").Render();
    Html.Zone("HeadRecursive").Render();
}
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


