﻿<div class="header" id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                @{
                    var startPage = Content.Traverse.StartPage;
                    var logoUrl = startPage.GetDetail<string>("HomepageLogo", null);
                }
                <a href="/" class="logo-url">
                    <img src="@logoUrl" class="img-responsive" alt="24Legal logo" /></a>
                <h3 style="color: #3C6E8F; padding-left: 40px;">What do you need to know?</h3>
            </div>

            <div class="col-xs-4 hidden-mobile">
                @{
                    Html.DroppableZone("TopRecursive").Title("Top Recursive").Render();
                }
            </div>
        </div>

    </div>
</div>
@{
    var fullmenu = startPage.GetDetail<bool>("FullMenuOnHomePage", false);
}
@if (fullmenu)
{
    Html.RenderPartial("LayoutPartials/TopNavigation");
}
else
{
    Html.RenderPartial("LayoutPartials/HomeTopNavigation");
}
