﻿<div class="header-nav home">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-7 col-lg-8">
                <div>
                    @*@{Html.RenderAction("Status", "Membership");}*@
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4" id="nav-outer">
                @{
                    var currentPage = N2.Find.CurrentPage;
                    var parents = N2.Find.Parents.ToList();
                    if (currentPage != null)
                    {
                        parents.Add(currentPage);
                    }

                    var roots = Content.Traverse.StartPage.GetChildren(new N2.Collections.PageFilter(),
                                new N2.Collections.AccessFilter(),
                                new N2.Collections.PublishedFilter())
                                .Where(x => x.GetDetail<bool>("ShowInStartpage", false) == true);
                }
                <ul class="sf-menu collapse pull-right-bak" id="nav">
                    @{Html.RenderPartial("LayoutPartials/SliderMenuItems");}
                    @{
                        foreach (var root in roots)
                        {
                            var active = parents.Count(x => x.ID == root.ID) > 0;
                            <li class="menu-item @(active ? "current" : null)">
                                <a href="@root.Url">@root.Title</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
