﻿@{
    var isHome = false;
    if (N2.Find.CurrentPage == N2.Find.StartPage)
    {
        isHome = true;
    }
}

<div class="@(isHome ? "col-md-12" : "col-sm-3 col-sm-push-1")" id="search-outer">
    @Html.Raw(isHome ? "<div class='row'>" : null)
    <div class="search-wrap @(isHome ? "home" : null)">
        @using (Html.BeginForm("Search", "StartPage", FormMethod.Get, new { id = "searchform", role = "search" }))
        {
            <label for="searchFormInput" style="display:none;">Search Site</label>
            <input type="text" id="searchFormInput" name="q" placeholder="Search site" class="search-site">
            <button type="submit" class="roundbox search-btn">Search</button>
        }
    </div>
    @Html.Raw(isHome ? "</div>" : null)
</div>
