﻿@{
    var startPage = Content.Traverse.StartPage;
    var flexSlider = startPage.GetChildren(
        new N2.Collections.DelegateFilter(x => x.TemplateKey == "FlexSlider"),
        new N2.Collections.PublishedFilter()).FirstOrDefault();

    if (flexSlider == null)
    {
        return;
    }

    var sliderItems = flexSlider.GetChildren(
        new N2.Collections.ZoneFilter("SliderArea"),
        new N2.Collections.PublishedFilter());
    var items = new List<ContentItem>();
    foreach (var sliderItem in sliderItems)
    {
        using (Content.BeginScope(sliderItem))
        {
            var heroItems = Content.Current.Item.GetChildren(
                new N2.Collections.ZoneFilter("HeroArea"),
                new N2.Collections.PublishedFilter());
            foreach (var heroItem in heroItems)
            {
                using (Content.BeginScope(heroItem))
                {
                    <li class="menu-item">
                        <a href="@Content.Data.LinkTarget" class="lev-one">@Content.Data.Title</a>
                    </li>
                }
            }
        }
    }
}