﻿@{
    var startPage = Content.Traverse.StartPage;
    var currentPage = Content.Current.Page;
    var parents = N2.Find.EnumerateParents(currentPage, startPage, true);
    var root = parents.Skip(parents.Count() - 2).FirstOrDefault();
    if (root == null)
    {
        return;
    }
    var children = root.GetChildren(new N2.Collections.NavigationFilter());
}
<ul class="nav">
    @foreach (var child in children)
    {
        var grandchildren = child.GetChildren(new N2.Collections.NavigationFilter());
        var active = parents.Any(x => x.ID == child.ID);

        <li class="@(active ? "active" : null)">
            @Html.Link(child)
        @if (active && grandchildren.Count > 0)
        {
            <ul class="nav">
                @foreach (var grandchild in grandchildren)
                {
                    active = parents.Any(x => x.ID == grandchild.ID);
                    <li class="@(active ? "active" : null)">@Html.Link(grandchild)</li>
                }
            </ul>
        }
    </li>
    }
</ul>
