﻿@{
    var showPageTitle = Content.Current.Page.GetDetail("ShowPageTitle", true);

    //if (Content.Has.ShowPageTitle && Content.Data.ShowPageTitle)
    //{
    //    showPageTitle = Content.Data.ShowPageTitle;
    //}
    if (!showPageTitle && !string.IsNullOrWhiteSpace(Request.QueryString["ShowPageTitle"]))
    {
        showPageTitle = true;
    }

    if (!showPageTitle)
    {
        return;
    }

    var title = Content.Data.Title;
    if(string.IsNullOrWhiteSpace(title)){
        title = ViewBag.Title;
    }
}
<div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-3">
        <h1 class="page-heading">@title</h1>
    </div>
</div>
