﻿<div class="header-nav">
	<div class="container">
	    <div class="row">
	        <div class="col-sm-12 col-md-12" id="nav-outer">
	            @{
	                var currentPage = N2.Find.CurrentPage;
	                var parents = N2.Find.Parents.ToList();
	                if (currentPage != null)
	                {
	                    parents.Add(currentPage);
	                }
	                var startPage = N2.Content.Traverse.StartPage;
	                var roots = startPage.GetChildren(new N2.Collections.PageFilter(),
	                            new N2.Collections.AccessFilter(),
	                            new N2.Collections.PublishedFilter(),
	                            new N2.Collections.NavigationFilter());
	            }
	            <ul class="sf-menu collapse" id="nav">
	                @{Html.RenderPartial("LayoutPartials/SliderMenuItems");}
	                @{
	                    foreach (var root in roots)
	                    {
	                        var active = parents.Count(x => x.ID == root.ID) > 0;
	                        var children = root.GetChildren(new N2.Collections.PageFilter(),
	                            new N2.Collections.AccessFilter(),
	                            new N2.Collections.PublishedFilter(),
	                            new N2.Collections.NavigationFilter());
	                        bool subnav = children.Any();
	                        <li class="menu-item @(active ? "current" : null) @(subnav ? "has-subs" : null)">
	                            <a href="@root.Url" class="lev-one">@root.Title</a>
	                            @{
	                                if (children.Any())
	                                {
	                                    <ul class="subnav collapse">
	                                        @{
	                                            foreach (var child in children)
	                                            {
	                                                <li class="menu-item"><a href="@child.Url">@child.Title</a></li>
	                                            }
	                                        }
	                                    </ul>
	                                }
	                            }
	                        </li>
	                    }
	                }
	            </ul>
	        </div>
	    </div>
	</div>
</div>