﻿@model Acd.Web.Public.Models.StartPage

@section header
{
    @{ Html.RenderPartial("LayoutPartials/AlertWrap"); }
    @{ Html.RenderPartial("LayoutPartials/HomeHeader"); }
}
@section main
{
    <div class="intro-links">
        <div class="container">
            <div class="row">
                @{ Html.RenderPartial("Zones/BeforeContent"); }
            </div>
            <div class="row">
                @{ Html.RenderPartial("Zones/AfterContent"); }
            </div>
        </div>
    </div>
}
@section javascript
{
    <script type="text/javascript" src="//use.typekit.net/odh1wna.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
}