body {
	color: #464646
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
	border:2px solid #fff;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
input:focus {
	outline: none;
	border-color: #0084A6;
}
input.search-site {
	outline: none;
	border-color: #CCE3EE;
}

.cookie-alert {
	background: #0084A6;
	color:#fff;
	display: block;
}

.header {
	margin:30px 0;
}
.header-nav-home {
	border-top: 1px solid #CCE3EE;
}
.header-nav {
	border-top: 1px solid #CCE3EE;
	border-bottom: 1px solid #CCE3EE;
}
.login-btn {
	font-weight: bold;
	color: #666;
	font-size: 18px;
	padding-right: 40px;
	padding-top: 5px;
	background: url("../images/icon-lock.svg") no-repeat right 0;
	display: inline-block;
	height: 30px;
	color:#0084A6;
	
}
.login-btn:hover {
	background-position: right -364px;
	color:#0084A6;
	text-decoration: none;
}

.header-user-detail {
	color:#0084A6;
	display: block;
	font-weight: bold;
	font-size: 18px;
}
.header-nav-home .header-user-detail {
	padding: 20px 20px 10px 20px;
}
.header-nav-home ul a {
	padding: 20px 20px 10px 20px;
	display: block;
	font-weight: bold;
	color: #666;
	font-size: 18px;
}
.header-nav ul {
	display: table;
}
.header-nav ul {
	display: table;
}


.header-nav-home ul a:hover {
	color:#0084A6;
	text-decoration: none;
}

.header-user-detail {
	
}
.hero {
	position: relative;
	overflow: hidden;
	background: url("../images/banner.jpg") no-repeat;
	background-size: cover;
	text-align: center;
	padding: 10px 0 20px; 
	}
.footer {
	background: #CCE3EE;
	padding: 50px 0;
}
.roundbox {
	border-radius: 0 20px 20px 20px;
	background-color: #0084A6;	
	
	display: block;
	font-weight: bold;

}
.intro-links .roundbox {
	padding: 0;
	margin:70px 15px 70px 15px;
	color:#fff;
	font-size: 17px;
	cursor: pointer;
}
.intro-links .roundbox {
	text-decoration: none;
	list-style: none;
	
}
.parent-with-children {
	background: url(../images/icon-arrow-down-sm.svg) no-repeat 160px 70px;
	display: block;
	color: #fff;
}
.parent-with-children:hover {
	text-decoration: none;
	color: #fff;
}
.intro-links .roundbox .menu-item a {
	display: block;
	padding: 60px 135px 20px 20px;
	color:#fff;
}

.intro-links .roundbox li li.menu-item a {
	padding: 5px 0;
}
.intro-links .roundbox .menu-item a:hover {
	text-decoration: none;
}
.intro-links .roundbox.icon-form {
	background: url(../images/icon-form-nobg.svg) no-repeat 20px 20px;
	background-color: #0084A6;	
}


.intro-links .roundbox.icon-user {
	background: url(../images/icon-user-nobg.svg) no-repeat 20px 20px;
	background-color: #0084A6;	
}
.intro-links .roundbox.icon-users {
	background: url(../images/icon-users-nobg.svg) no-repeat 20px 20px;
	background-color: #0084A6;	
}

.intro-links .home-sub-nav {
	margin-right: 50px;
	font-size: 16px;
}
.intro-links .home-sub-nav a {
	color:#fff;
}
.intro-links .home-sub-nav a:hover {
	text-decoration: none;
	color:#0084A6;
}

.intro-links .roundbox.icon-form:hover, .intro-links .roundbox.icon-user:hover, .intro-links .roundbox.icon-users:hover {
	background-color: #56B4D3;
}

.intro-links ul.home-sub-nav {
	list-style: none;
	padding-left: 0;
	margin-left: 20px;
	border-top:2px solid #fff;
	padding-top: 10px;
	
	
}
.intro-links ul.home-sub-nav li.menu-item:last-child a {
	padding-bottom: 20px;
}
/*
.intro-block {
	background: #EDF4F8 url(../images/family.png) left bottom no-repeat;
	padding: 70px 0;
}

.intro-block h2 {
	font-size: 18px;
	font-weight: normal;
}
*/
.intro-links h1 {
  	font-family: "pragmatica-web", Arial;
	color: #56B4D3;
	font-size: 56px;
	font-weight: 200;
	margin-top:60px;
}
.hero .btn-default {
	border: 2px solid #0084A6;
	font-size: 24px;
	font-weight: bold;
	margin: 50px auto;
	background: #0084A6;
	color: #fff;
	white-space: normal;
	max-width: 500px;
	padding: 22px 100px; 
	border-radius: 12px;
	line-height: 29px;
}
.hero .btn-default:hover {
	background: #56B4D3;
	border: 2px solid #56B4D3;
	color:#fff;
}
.alert-text {
	line-height: 74px;
	font-weight: bold;
	font-size: 18px;
}
.cookie-alert-wrap {
	height:0;
	overflow: hidden;
	position:relative;
	width:100%;
}
.cookie-alert {
	position: absolute;
	top:0;
	left:0;
	width:100%;
}
.cookie-alert .btn-default {
	border: 1px solid #fff;
	font-size: 18px;
	font-weight: bold;
	margin: 20px 20px 20px 0;
	background: transparent;
	color: #fff;
	white-space: normal;
	max-width: 500px;
	padding: 6px 18px; 
	border-radius: 6px;
	line-height: 24px;
}
.hero .btn-default:hover {
	background: #56B4D3;
	border: 2px solid #56B4D3;
	color:#fff;
}
.hero-search {
	
}
.search-wrap {
	position: relative;
	margin: 30px 0 0px 0;
}

.hero-wrap {
	position: relative;
	margin: 480px 0 60px 0;
}
.search-site {
	padding: 8px 68px 6px 18px;
	border-radius: 22px;
	line-height: 30px;
	height:60px;
	width: 100%;
	font-size: 22px;
}
.search-btn {
	width:62px;
height:60px;
	margin-left: -90px;
	text-indent: -999px;
	background: #0084A6 url(../images/icon-search-lg.svg) no-repeat 13px 12px;
	position: absolute;
	right:0;
	top:0;
	overflow: hidden;
}
.search-btn:hover {
	background-color: #56B4D3;
}
.footer-links {
	border-top: 2px solid #0084A6;
	width:100%;
	margin-top: 30px;
	text-align: center;
}
.footer-links .list-inline {
	display: inline-block;
	margin: 40px auto 70px auto;
}
.footer-links ul li {
	padding:0 20px;
}
.footer-links ul li a {
	color: #0084A6;
}

.sagov-logo {
	
}
a.languages {
	background: url(../images/icon-msg-md.svg) no-repeat;
	padding: 2px 0 0 60px;
	color: #0084A6;
	font-weight: bold;
	font-size: 16px;
	max-width: 240px;
	display: block;
	height: 46px;
}

h2 {
	font-size: 20px;
	color: #0084A6;
}
h3 {
	font-size: 16px;
}

h1.page-heading {
	font-size: 42px;
	color: #0084A6;
	border-bottom: 2px solid #0084A6;
	padding: 0 0 15px 0;
	margin: 80px 0 30px 0;
}
.main-content {

	margin-bottom: 150px;
}

.bread {
	margin: 40px 0 0 0;
}
.bread a {
	text-decoration: none;
	color: #0084A6;
	font-weight: bold;
	font-size: 1em;
}

#nav-toggle { position: absolute; left: 50%; top: 50%; }

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
