/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	/* float: left; */
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}








/*** MATTS SKIN 2.0 ***/

.sf-menu {
	float: left;
	display: table;
	border-spacing: 40px 0;
	border-collapse: separate;
	
}

.sf-menu ul {
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 7px;
	/* max-width: 12em; */ /* allow long menu items to determine submenu width */
	/* *width: 12em; */ /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu li {
	vertical-align: middle;
	display: table-cell;
	height:100%;
	border-bottom: 6px solid #fff;
	
}
.sf-menu li:hover, .sf-menu li.current {
	border-bottom: 6px solid #0084A6;
}
.sf-menu ul li, .sf-menu ul li:hover {
	border-bottom: 0;
}

.sf-menu li:hover a, .sf-menu a:hover, .sf-menu li.current a {
	color: #0084A6;
	text-decoration: none;
}

.sf-menu li a {
	padding: 20px 20px 16px 20px;
	display: block;
	font-weight: bold;
	color: #666;
	font-size: 18px;
	display: block;
	font-weight: bold;
	color: #666;
	font-size: 18px;

	max-width:167px;
	white-space: normal;
	text-align: center;
	
}
.sf-menu ul li a {
padding: 5px 30px 5px 30px;
font-size: 16px;
}
.sf-menu ul li {
	display: block;
}
.sf-menu ul li a {
	display: block;
	max-width: none;
	white-space: nowrap;
	text-align: left;
	}
.sf-menu ul li:first-child a {
	padding-top: 15px;
}
.sf-menu ul li:last-child a {
	padding-bottom: 18px;
}
.sf-menu ul a {
	
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
	display: table-cell
}

.sf-menu li {
	
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul {
	background: #E4EFF4;
	border-radius: 0 30px 30px 30px;
	
	}

.sf-menu ul ul li {
	background: #E4EFF4;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF;
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}



















@media (max-width:767px) {





}

