.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus{outline:0}.slides,.flex-control-nav,.flex-direction-nav{margin:0;padding:0;list-style:none}@font-face{font-family:'flexslider-icon';src:url('fonts/flexslider-icon.eot');src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),url('fonts/flexslider-icon.woff') format('woff'),url('fonts/flexslider-icon.ttf') format('truetype'),url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');font-weight:normal;font-style:normal}.flexslider{margin:0;padding:0}.flexslider .slides>li{display:none;-webkit-backface-visibility:hidden}.flexslider .slides img{width:100%;display:block}.flex-pauseplay span{text-transform:capitalize}.slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0}html[xmlns] .slides{display:block}* html .slides{height:1%}.no-js .slides>li:first-child{display:block}.flexslider{margin:0 0 60px;background:#fff;border:4px solid #fff;position:relative;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 4px rgba(0,0,0,.2);-moz-box-shadow:0 1px 4px rgba(0,0,0,.2);-o-box-shadow:0 1px 4px rgba(0,0,0,.2);box-shadow:0 1px 4px rgba(0,0,0,.2);zoom:1}.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}.loading .flex-viewport{max-height:300px}.flexslider .slides{zoom:1}.carousel li{margin-right:5px}.flex-direction-nav{*height:0}.flex-direction-nav a{text-decoration:none;display:block;width:40px;height:40px;margin:-20px 0 0;position:absolute;top:50%;z-index:10;overflow:hidden;opacity:0;cursor:pointer;color:rgba(0,0,0,0.8);text-shadow:1px 1px 0 rgba(255,255,255,0.3);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}.flex-direction-nav .flex-prev{left:-50px}.flex-direction-nav .flex-next{right:-50px;text-align:right}.flexslider:hover .flex-prev{opacity:.7;left:10px}.flexslider:hover .flex-next{opacity:.7;right:10px}.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover{opacity:1}.flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default}.flex-direction-nav a:before{font-family:"flexslider-icon";font-size:40px;display:inline-block;content:'\f001'}.flex-direction-nav a.flex-next:before{content:'\f002'}.flex-pauseplay a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:.8;z-index:10;overflow:hidden;cursor:pointer;color:#000}.flex-pauseplay a:before{font-family:"flexslider-icon";font-size:20px;display:inline-block;content:'\f004'}.flex-pauseplay a:hover{opacity:1}.flex-pauseplay a.flex-play:before{content:'\f003'}.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center}.flex-control-nav li{margin:0 6px;display:inline-block;zoom:1;*display:inline}.flex-control-paging li a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,0.5);cursor:pointer;text-indent:-9999px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-o-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);box-shadow:inset 0 0 3px rgba(0,0,0,0.3)}.flex-control-paging li a:hover{background:#fff;}.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,0.9);cursor:default}.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden}.flex-control-thumbs li{width:25%;float:left;margin:0}.flex-control-thumbs img{width:100%;display:block;opacity:.7;cursor:pointer}.flex-control-thumbs img:hover{opacity:1}.flex-control-thumbs .flex-active{opacity:1;cursor:default}@media screen and (max-width:860px){.flex-direction-nav .flex-prev{opacity:1;left:10px}.flex-direction-nav .flex-next{opacity:1;right:10px}}

.flex-control-paging li a {
	border: 2px solid #fff;
		-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.flexslider {
	margin: 0 0 0;

	border: 0;
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: 0;
	zoom: 1;
	background: #fff;
	/* min-height: 350px; */
}
.flex-control-nav {
	z-index: 50;
	bottom: 40px;
}
.quote .flex-control-nav {
	z-index: 50;
	bottom: -70px;
}
.flex-direction-nav a {
	width:45px;
	height:45px;
}
iframe {
	border: 0;
	box-shadow: none;
}
.flex-direction-nav a.flex-next:before, .flex-direction-nav a.flex-prev:before {
	content: "";
}
.flex-control-paging li a {
	background: transparent;
	border: solid #fff 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.flex-control-paging li a.flex-active {
	background: #fff;
	border: solid #fff 2px;
}



.flex-direction-nav a.flex-prev {
	background: url(../images/icon-arrow-left.png);
}
.no-svg .flex-direction-nav a.flex-prev {
	background: url(../images/icon-arrow-left.png);
}
.flex-direction-nav a.flex-next {
	background: url(../images/icon-arrow-right.png);
}
.no-svg .flex-direction-nav a.flex-next {
	background: url(../images/icon-arrow-right.png);
}




body {
	color: #1e1e1e
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
	border:2px solid #fff;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
input:focus {
	outline: none;
	border-color: #00AFD1;
}
input.search-site {
	outline: none;
	border-color: #CCE3EE;
}

.cookie-alert {
	background: #00AFD1;
	color:#fff;
	display: block;
}

.header {
	margin:30px 0;
}
.header-nav-home {
	border-top: 1px solid #CCE3EE;
	border-bottom: 1px solid #CCE3EE;
}
.header-nav {
	border-top: 1px solid #CCE3EE;
	border-bottom: 1px solid #CCE3EE;
}
.login-btn {
	font-weight: bold;
	color: #1e1e1e;
	font-size: 18px;
	padding-right: 40px;
	padding-top: 5px;
	background: url("../images/icon-lock.svg") no-repeat right 0;
	display: inline-block;
	height: 30px;
	color:#00AFD1;
	
}
.login-btn:hover {
	background-position: right -364px;
	color:#00AFD1;
	text-decoration: none;
}

.header-user-detail {
	color:#00AFD1;
	display: block;
	font-weight: bold;
	font-size: 18px;
}
.header-nav-home .header-user-detail {
	padding: 20px 20px 10px 20px;
}
.header-nav-home ul a {
	padding: 20px 20px 10px 20px;
	display: block;
	font-weight: bold;
	color: #1e1e1e;
	font-size: 18px;
}
.header-nav ul {
	display: table;
}
.header-nav ul {
	display: table;
}


.header-nav-home ul a:hover {
	color:#00AFD1;
	text-decoration: none;
}

.header-user-detail {
	
}

.footer {
	background: #CCE3EE;
	padding: 50px 0;
}
.roundbox {
	border-radius: 0 20px 20px 20px;
	background-color: #00AFD1;	
	
	display: block;
	font-weight: bold;

}
.intro-links .roundbox {
	padding: 0;
	margin:70px 15px 70px 15px;
	color:#fff;
	font-size: 17px;
	cursor: pointer;
}
.intro-links .roundbox {
	text-decoration: none;
	list-style: none;
	
}
.parent-with-children {
	background: url(../images/icon-arrow-down-sm.svg) no-repeat 160px 70px;
	display: block;
	color: #fff;
}
.parent-with-children:hover {
	text-decoration: none;
	color: #fff;
}
.intro-links .roundbox .menu-item a {
	display: block;
	padding: 60px 135px 20px 20px;
	color:#fff;
}

.intro-links .roundbox li li.menu-item a {
	padding: 5px 0;
}
.intro-links .roundbox .menu-item a:hover {
	text-decoration: none;
}
.intro-links .roundbox.icon-form {
	background: url(../images/icon-form-nobg.svg) no-repeat 20px 20px;
	background-color: #00AFD1;	
}


.intro-links .roundbox.icon-user {
	background: url(../images/icon-user-nobg.svg) no-repeat 20px 20px;
	background-color: #00AFD1;	
}
.intro-links .roundbox.icon-users {
	background: url(../images/icon-users-nobg.svg) no-repeat 20px 20px;
	background-color: #00AFD1;	
}

.intro-links .home-sub-nav {
	margin-right: 50px;
	font-size: 16px;
}
.intro-links .home-sub-nav a {
	color:#fff;
}
.intro-links .home-sub-nav a:hover {
	text-decoration: none;
	color:#00AFD1;
}

.intro-links .roundbox.icon-form:hover, .intro-links .roundbox.icon-user:hover, .intro-links .roundbox.icon-users:hover {
	background-color: #56B4D3;
}

.intro-links ul.home-sub-nav {
	list-style: none;
	padding-left: 0;
	margin-left: 20px;
	border-top:2px solid #fff;
	padding-top: 10px;
	
	
}
.intro-links ul.home-sub-nav li.menu-item:last-child a {
	padding-bottom: 20px;
}
/*
.intro-block {
	background: #EDF4F8 url(../images/family.png) left bottom no-repeat;
	padding: 70px 0;
}

.intro-block h2 {
	font-size: 18px;
	font-weight: normal;
}
*/
.intro-links h1 {
	  	font-family: "pragmatica-web", Arial;
		color: #00AFD1;
		font-size: 36px;
		font-weight: 200;
		margin-top:50px;
		margin-bottom:70px;
	}



.hero .btn-default {
	border: 2px solid #00AFD1;
	font-size: 24px;
	font-weight: bold;
	margin: 30px auto 50px;
	background: #00AFD1;
	color: #fff;
	white-space: normal;
	max-width: 430px;
	padding: 22px 40px; 
	border-radius: 12px;
	line-height: 29px;
}
.hero .btn-default:hover {
	background: #56B4D3;
	border: 2px solid #56B4D3;
	color:#fff;
}

.btn-default.ghost {
	border: 2px solid #00AFD1;
	font-size: 24px;
	font-weight: bold;
	margin: 30px auto 40px;
	background: #fff;
	color: #00AFD1;
	white-space: normal;
	max-width: 500px;
	padding: 22px 40px; 
	border-radius: 12px;
	line-height: 29px;
}
.btn-default.ghost:hover {
	background: #00AFD1;
	border: 2px solid #00AFD1;
	color:#fff;
}

.alert-text {
	line-height: 74px;
	font-weight: bold;
	font-size: 18px;
}
.cookie-alert-wrap {
	height:0;
	overflow: hidden;
	position:relative;
	width:100%;
}
.cookie-alert {
	position: absolute;
	top:0;
	left:0;
	width:100%;
}
.cookie-alert .btn-default {
	border: 1px solid #fff;
	font-size: 18px;
	font-weight: bold;
	margin: 20px 20px 20px 0;
	background: transparent;
	color: #fff;
	white-space: normal;
	max-width: 500px;
	padding: 6px 18px; 
	border-radius: 6px;
	line-height: 24px;
}
.hero .btn-default:hover {
	background: #56B4D3;
	border: 2px solid #56B4D3;
	color:#fff;
}
.hero-search {
	
}
.search-wrap {
	position: relative;
	margin: 30px 0 0px 0;
}

.hero-wrap {
	position: relative;


}


.search-site {
	padding: 8px 68px 6px 18px;
	border-radius: 22px;
	line-height: 30px;
	height:60px;
	width: 100%;
	font-size: 22px;
}
.search-btn {
	width:62px;
height:60px;
	margin-left: -90px;
	text-indent: -999px;
	background: #00AFD1 url(../images/icon-search-lg.svg) no-repeat 13px 12px;
	position: absolute;
	right:0;
	top:0;
	overflow: hidden;
}
.search-btn:hover {
	background-color: #56B4D3;
}
.footer-links {
	border-top: 2px solid #00AFD1;
	width:100%;
	margin-top: 30px;
	text-align: center;
}
.footer-links .list-inline {
	display: inline-block;
	margin: 40px auto 70px auto;
}
.footer-links ul li {
	padding:0 20px;
}
.footer-links ul li a {
	color: #00AFD1;
}

.sagov-logo {
	
}
a.languages {
	background: url(../images/icon-msg-md.svg) no-repeat;
	padding: 2px 0 0 60px;
	color: #00AFD1;
	font-weight: bold;
	font-size: 16px;
	max-width: 240px;
	display: block;
	height: 46px;
}

h2 {
	font-size: 20px;
	color: #00AFD1;
}
h3 {
	font-size: 16px;
}

h1.page-heading {
	font-size: 42px;
	color: #00AFD1;
	border-bottom: 2px solid #00AFD1;
	padding: 0 0 15px 0;
	margin: 80px 0 30px 0;
}
.main-content {

	margin-bottom: 150px;
}

.bread {
	margin: 40px 0 0 0;
}
.bread a {
	text-decoration: none;
	color: #00AFD1;
	font-weight: bold;
	font-size: 1em;
}

.hero {
	position: relative;
	overflow: hidden;

	text-align: center;
	padding: 0; 
	}
	.hero-wrap {

	
	background-size: cover;

	}
	.hero-wrap2 {


	background-size: cover;

	}

.hero:before {
	content:"";
	border-bottom: 10px solid #fff; 
	border-right: 10px solid transparent; 
	position: absolute;
	bottom:0;
	left:0;
	width:50%;
	z-index: 4;
}

.hero:after {
	content:"";
	border-bottom: 10px solid #fff; 
	border-left: 10px solid transparent; 
	position: absolute;
	bottom:0;
	right:0;
	width:50%;
	z-index: 4;
}
.hero-mob {
	margin:20px;
}

.intro-links h1 {
	margin:0px 20px 50px;

}

.sagov-logo.pull-right {
	float: none !important;
}
.sagov-logo {
	display: block;
	text-align: center;
}

.flex-control-nav, .flex-direction-nav {
	display: none;
}

@media (min-width:480px){
	
	.hero-wrap {
		position: relative;
		/* margin: 240px 0 100px 0; */
	}
	
}

@media (min-width:768px){
	
	.hero-wrap {
		position: relative;
		/* margin: 320px 0 100px 0; */
	}
	.flex-control-nav, .flex-direction-nav {
		display: block;
	}
	
	.intro-links h1 {
		font-size: 56px;
		margin-top:60px;
		margin-bottom:80px;
	}
	.hero .btn-default {

		position: relative;
margin: -196px auto 90px;
z-index: 3;	}
	
	.hero:before {

		border-bottom: 21px solid #fff; 
		border-right: 21px solid transparent; 

	}
	
	.hero:after {

		border-bottom: 21px solid #fff; 
		border-left: 21px solid transparent; 

	}
	
	.sagov-logo.pull-right {
		float: right !important;
	}
		
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

.footer {
	position: absolute;
	bottom: 0;
	width:100%
}

