﻿@model Acd.Web.Public.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

@section javascript{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

}
<p>
    Use the form below to change your password. 
</p>
<p>
    New passwords are required to be a minimum of @ViewBag.PasswordLength characters in length.
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="row">
                <div class="editor-label col-sm-6">
                    @Html.LabelFor(m => m.OldPassword)
                </div>
            </div>
            <div class="row">
                <div class="editor-field col-sm-6">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>

            <div class="row">
                <div class="editor-label col-sm-6">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
            </div>
            <div class="row">
                <div class="editor-field col-sm-6">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="row">
                <div class="editor-label col-sm-6">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="row">
                <div class="editor-field col-sm-6">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <p></p>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-default" value="Change Password" />
                </div>
            </div>
        </fieldset>
    </div>
}
