﻿@{
    ViewBag.Title = "Forgot Password";
}

@Html.ValidationSummary(true, "Please correct the errors and try again.")
@using (Html.BeginForm("ForgotPassword", "Membership", new { }, FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label class="control-label">Please enter your email address</label>
            <input type="text" name="email" class="form-control" required value="@ViewBag.Email" />
            @Html.ValidationMessage("email")
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary btn-block" />
        </div>
    </div>
}