﻿@model Acd.Web.Public.Models.LogOnModel

@section javascript{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".editor-field:first input").focus();
        });
    </script>
}

@{
    ViewBag.Title = Content.Translate.Text("Login/Register");
}

<p>
    @Content.Translate.Text("If this is your first time using the Advance Care Directive Online Form, please click here to ")@Html.ActionLink(Content.Translate.Text("Register"), "Register", new { returnUrl = Model.ReturnUrl }) @Content.Translate.Text(" to create a secure account for your completing your Advance Care Directive Form. If you have already registered enter your email and password below to login.")
</p>

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm(null, null, new { returnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "" }))
{
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "" })


            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email)

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">

            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)

            @Html.ActionLink("Forgot password?","ForgotPassword","Membership",null,new{})
        </div>

        <input type="submit" class="btn btn-default btn-block" value="@Content.Translate.Text("Login")" />
    </div>


}
