﻿@using System.Web.UI.WebControls
@model Acd.Web.Public.Models.RegisterModel

@{
    ViewBag.Title = Content.Translate.Text("Create a New Account");
}

@section javascript{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("form").submit(function () {
                if ($("button", this).attr('disabled')) {
                    return false;
                }
            });

            $.validator.setDefaults({
                submitHandler: function (form) {
                    $("button", form).attr('disabled', true);
                    $(form).submit();
                    //return false;
                }
            });
        });
    </script>
}

<p>@Content.Translate.Text("Use the form below to create a new account.")</p>
<p>@Content.Translate.Text("Passwords are required to be a minimum of") @ViewBag.PasswordLength @Content.Translate.Text("characters in length.")</p>


@Html.ValidationSummary()

@using (var f = Html.Bootstrap().Begin(new Form().InputWidthSm(8).Class("col-sm-offset-3").RouteValues(new { returnUrl = Request["returnUrl"] })))
{
    @Html.AntiForgeryToken()
    <div class="row">
        @f.FormGroup().TextBoxFor(x => x.Email).Placeholder("Enter email")
    </div>
    <div class="row">
        @f.FormGroup().PasswordFor(x => x.Password).Placeholder()
    </div>
    <div class="row">
        @f.FormGroup().PasswordFor(x => x.ConfirmPassword).Placeholder()
    </div>
    <div class="row">
        <div class="col-sm-8">
            @Html.Bootstrap().SubmitButton().Text(Content.Translate.Text("Register")).ButtonBlock().Style(ButtonStyle.Primary)
        </div>
    </div>
}