﻿@model Acd.Web.Public.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
@Html.ValidationSummary(true, "Please correct the errors and try again.")
@using (Html.BeginForm("ResetPassword", "Membership", new { }, FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model => model.Timestamp)
    <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <div class="form-group">
            <input type="submit" value="Reset" class="btn btn-primary btn-block" />
        </div>
    </div>
}
@section javascript {
    
}