﻿@if (User.Identity.IsAuthenticated)
{
    if (N2.Find.CurrentPage != null &&
        N2.Content.Traverse.StartPage.ID == N2.Find.CurrentPage.ID)
    {
    <span class="header-user-detail">Hello @Model</span>
    }
    else
    {
    <span class="header-user-detail">Hello @Model</span>
    }
}