﻿@using N2;
@model string
@{
    var parameters = HttpUtility.ParseQueryString(HttpUtility.HtmlDecode(Model));
    var ids = parameters.GetValues("id");
    List<ContentItem> pages = new List<ContentItem>();
    foreach (var id in ids)
    {
        int pid = 0;
        if (int.TryParse(id, out pid))
        {
            var page = N2.Find.Items.Where.ID.Eq(pid).Select().FirstOrDefault();
            if (page != null)
            {
                pages.Add(page);
            }
        }
    }
}
<div class="footer-links">
    <ul class="list-inline">
        @foreach (var page in pages)
        {
            <li><a href="@page.Url">@page.Title</a></li>
            <li>
                <a class="" href="@page.Url">@page.Title</a>
            </li>
        }
    </ul>
</div>
