﻿@model Acd.Web.Public.Models.DynamicFormCheckBoxButtonList

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="@Model.ElementName">@Model.Title
                @if (Model.Required)
                {
                    <span class="asterisk">*</span>
                }</label>

            @{
                var attributes = Model.GetAttributes();
                var values=string.Format("{0}", TempData[string.Format("{0}_value", Model.ElementName)]).Split(',');
                foreach (var option in Model.Options)
                {
                    var selected = values.Contains(option);
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="@Model.ElementName" @(selected?"checked=checked":null) value="@option" @Html.Raw(attributes) data-show-feedback="false">
                        @option
                    </label>
                </div>
                }
            }

        </div>
</div>
</div>
