﻿@model Acd.Web.Public.Models.DynamicFormDropDownList
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="@Model.ElementName">
                @Model.Title
                @if (Model.Required)
                {
                    <span class="asterisk">*</span>
                }
            </label>
            @{
                var value = string.Format("{0}", TempData[string.Format("{0}_value", Model.ElementName)]);
                var attributes = Model.GetAttributes();
            }
            <select id="@Model.ElementName" name="@Model.ElementName" class="form-control" @Html.Raw(attributes)>
                @{

                    foreach (var option in Model.Options)
                    {
                        var selected = string.Compare(option, value, false) == 0;
                    <option value="@option" @(selected ? "selected=selected" : null)>@option</option>
                    }
                }
            </select>
        </div>
    </div>
</div>
