﻿@model Acd.Web.Public.Models.DynamicFormRadioButtonList
<div class="row">
    <div class="col-sm-6">
        
        <div class="form-group">
            <fieldset>
                <legend class="radio-group">
                    @Model.Title
                    @if (Model.Required)
                    {
                        <span class="asterisk">*</span>
                    }
                </legend>

                @{
                    var attributes = Model.GetAttributes();
                    var values = string.Format("{0}", TempData[string.Format("{0}_value", Model.ElementName)]).Split(',');
                    var index=0;
                    foreach (var option in Model.Options)
                    {
                        var selected = values.Contains(option);
                        index++;
                        var id = string.Format("{0}_{1}", Model.ElementName, index);
                        <div class="radio">
                            <label class="radio-label" for="@id">
                                <input type="radio" id="@id" name="@Model.ElementName" @(selected ? "checked=checked" : null) value="@option" @Html.Raw(attributes) data-show-feedback="false">
                                @option
                            </label>
                        </div>
                    }
                }
            </fieldset>
        </div>
    </div>
</div>

