﻿@model Acd.Web.Public.Models.DynamicForm
@using Recaptcha.Web.Mvc

@{if (!Model.ShowReCaptcha)
  {
      return;
  }
  string error = string.Format("{0}", TempData["recaptcha_error"]);
}
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label>Please retype the characters from the picture below:</label>
            @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
            @if (!string.IsNullOrWhiteSpace(error))
            {
                <label class="error">@error</label>
            }
        </div>
    </div>
</div>
