﻿@model Acd.Web.Public.Models.DynamicFormTextBox
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="@Model.ElementName">
                @Model.Title
                @if (Model.Required)
                {
                    <span class="asterisk">*</span>
                }
            </label>
            <input type="text" class="form-control"
       id="@Model.ElementName" name="@Model.ElementName"
       placeholder=""
       value="@TempData[string.Format("{0}_value", Model.ElementName)]"
       @Html.Raw(Model.GetAttributes())>
        </div>
    </div>
</div>
