﻿@model Acd.Web.Public.Models.DynamicFormTextArea
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label for="@Model.ElementName">
                @Model.Title
                @if (Model.Required)
                {
                    <span class="asterisk">*</span>
                }
            </label>
            <textarea rows="5" class="form-control" id="@Model.ElementName" name="@Model.ElementName" placeholder="" @Html.Raw(Model.GetAttributes())>@TempData[string.Format("{0}_value", Model.ElementName)]</textarea>
        </div>
    </div>
</div>

