﻿@model Acd.Web.Public.Models.OnlineFormModel

@{
    ViewBag.Title = "Complete";
}



@section main{
    <div class="form-top">
        <div class="container">

            @{ Html.RenderPartial("LayoutPartials/Breadcrumb"); }

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <h1 class="page-heading complete">Complete</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @Content.Display.CompleteText

                    <div class="download-link">
                        @*<a href="@Model.PDFUrl" target="_blank">*@
                        <a href="/OnlineForm/Download">
                            Save completed form
                            <span class="download-size">PDF @Model.PDFSizeDisplay</span>
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>

}



