﻿@model Acd.Web.Public.Models.OnlineFormModel

@{
    ViewBag.Title = Model.OnlineFormPage.Title;
}


@section main{


    <div class="form-top">
        <div class="container">

            @{ Html.RenderPartial("LayoutPartials/Breadcrumb"); }

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 0 });}
                    <h1 class="page-heading">Introduction</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content no-margin">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    @Content.Display.IntroText

                    <div class="row">
                        @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { @class = "" }))
                        {
                        <div class="form-group col-sm-12">
                            <input type="submit" class="btn btn-default btn-block" value="@Content.Translate.Text("Next")" />
                        </div>
                        }
                    </div>
                </div>
            </div>
         
        </div>
    </div>

<div class="after-form full-width">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                @{Html.RenderAction("ProgressHeader", new { step = 0 });}
            </div>
        </div>
    </div>
</div>
}

