﻿@model Acd.Web.Public.Models.SubstituteDecisionMakerModel
@using System.Web.Mvc.Html
@using Acd.Web.Public.Extensions

@{
    var marker = Model;
    var prefix = Model.Prefix;
}

<div class="form-group col-sm-12">
    <label class="control-label" for="@string.Format("{0}_Name", prefix)">Name of appointed Substitute Decision-Maker</label>
    @InputExtensions.TextBox(Html, string.Format("{0}.Name", prefix), marker.Name, new { @class = "form-control", placeholder = "FULL NAME", style = "text-transform: uppercase;" })
    @ValidationExtensions.ValidationMessage(Html, string.Format("{0}.Name", prefix))
</div>
<div class="form-group col-sm-12">
    @Html.LabelFor(m => m.Address, new { @for = string.Format("{0}_Address", prefix), @class = "control-label" })
    @InputExtensions.TextBox(Html, string.Format("{0}.Address", prefix), marker.Address, new { @class = "form-control", placeholder = "" })
    @ValidationExtensions.ValidationMessage(Html, string.Format("{0}.Address", prefix))
</div>
<div class="form-group col-sm-7">
    @Html.LabelFor(m => m.Phone, new { @for = string.Format("{0}_Phone", prefix), @class = "control-label" })
    @InputExtensions.TextBox(Html, string.Format("{0}.Phone", prefix), marker.Phone, new { @class = "form-control number1", placeholder = "" })
    @ValidationExtensions.ValidationMessage(Html, string.Format("{0}.Phone", prefix))
</div>
<div class="form-group col-sm-5">
    @Html.LabelFor(m => m.DateOfBirthStr, new { @for = string.Format("{0}_DateOfBirthStr", prefix), @class = "control-label" })
    @InputExtensions.TextBox(Html, string.Format("{0}.DateOfBirthStr", prefix), marker.DateOfBirthStr, new { @class = "form-control datepicker", placeholder = "DD-MM-YYYY" })
    @ValidationExtensions.ValidationMessage(Html, string.Format("{0}.DateOfBirthStr", prefix))
</div>
