﻿@model Acd.Web.Public.Models.OnlineFormModel

@{
    ViewBag.Title = "Progress";
}

@section main{

    <div class="progress-content">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                    <h1 class="page-heading">Progress</h1>
                </div>
            </div>




            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                     @Content.Display.ProgressText

                    @{
                        var url = "Step1";
                        switch (Model.OnlineForm.Status)
                        {
                            case 1:
                                url = "Step1";
                                break;
                            case 2:
                                url = "Step2A";
                                break;
                            case 3:
                                url = "Step2B";
                                break;
                            case 4:
                                url = "Step3";
                                break;
                            case 5:
                                url = "Step4";
                                break;
                            case 6:
                                url = "Step5";
                                break;
                        }
                        url = string.Format("{0}/{1}", Model.OnlineFormPage.Url, url);
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-md-offset-4">
                    <a href="@url" class="btn btn-default btn-block">Continue from save</a>
                </div>
            </div>
        </div>
    </div>

    <div class="progress-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3">

                    @{Html.RenderPartial("ProgressSection", Model);}

                </div>
            </div>
        </div>
    </div>

}
