﻿@model Acd.Web.Public.Models.OnlineFormModel

@{
    var indexes = Model.Indexes;
    var texts = Model.Texts;
    var urls = Model.Urls;
}

    <ul class="progress-list">
        @{
            var unused = new List<int>();
            if(Model.OnlineForm.NotCompleteStep2a){
                unused.Add(1);
            }
            if (Model.OnlineForm.NotCompleteStep2b)
            {
                unused.Add(2);
            }
            if (Model.OnlineForm.NotCompleteStep3)
            {
                unused.Add(3);
            }
            if (Model.OnlineForm.NotCompleteStep5)
            {
                unused.Add(5);
            }
        }
        @for (var i = 0; i < indexes.Length; i++)
        {
            var url = "javascript:";
            if (Model.OnlineForm.Status > i)
            {
                url = string.Format("{0}/{1}", Model.OnlineFormPage.Url, urls[i]);
            }
            var css = unused.Contains(i) ? "unused" : null;
            <li class="progress-list-item @css">
                @if (Model.OnlineForm.Status > i)
                {
                    <a href="@url" class="complete">
                        <span class="item-index complete">@indexes[i]</span>
                        <span class="item-text">
                            @texts[i]
                        </span>
                        <span class="item-checkbox icheckbox_flat checked"></span>
                    </a>
                }
                else
                {
                    <span>
                        <span class="item-index">@indexes[i]</span>
                        <span class="item-text">
                            @texts[i]
                        </span>
                        <span class="item-checkbox icheckbox_flat"></span>
                    </span>
                }
            </li>
        }
    </ul>