﻿@model Acd.Web.Public.Models.OnlineFormModel

@{
    var indexes = Model.Indexes;
    var texts = Model.Texts;
    var urls = Model.Urls;
}
<div class="progress-list-outer form-header">
    <ul class="progress-list form-header list-inline">
        <li class="progress-list-item">
            @{
                var url = string.Format("{0}/{1}", Model.OnlineFormPage.Url, "Intro");
                <a href="@url" class="item-index @(Model.CurrentStep<=0?"current":"complete")">Intro</a>
            }
        </li>

        @for (var i = 0; i < indexes.Length; i++)
        {
            url = "javascript:";
            if (Model.OnlineForm.Status > i)
            {
                url = string.Format("{0}/{1}", Model.OnlineFormPage.Url, urls[i]);

            }
            <li class="progress-list-item">
                @if (Model.OnlineForm.Status > i)
                {
                    <a href="@url" class="item-index @(Model.CurrentStep==i+1?"current":"complete")">@indexes[i]</a>
                }
                else
                {
                    <span class="item-index @(Model.CurrentStep==i+1?"current":null)">@indexes[i]</span>
                }

            </li>
        }
        <li class="progress-list-item">
            @if (Model.OnlineForm.Status >= 7)
            {
                url = string.Format("{0}/{1}", Model.OnlineFormPage.Url, "Review");
                <a href="@url" class="item-index @(Model.CurrentStep==8?"current":"complete")">Review</a>
            }
            else
            {
                <span class="item-index">Review</span>
            }
        </li>
    </ul>
</div>
