﻿@model Acd.Web.Public.Models.OnlineFormReviewModel

@{
    ViewBag.Title = "Final Review";
}

@section javascript{
    <script type="text/javascript">
        $(document).ready(function () {
            var submit = $("#onlineForm input[type=submit]");
            submit.attr("disabled", "disabled");

            var checkbox = $("#onlineForm input[type=checkbox]");
            //checkbox.click(function () {
            checkbox.on('ifChecked', function (event) {
                submit.removeAttr("disabled");
            })
            checkbox.on('ifUnchecked', function (event) {
                submit.attr("disabled", "disabled");
            })

            //if ($(this).is(":checked")) {
            //    submit.removeAttr("disabled");
            //} else {
            //    submit.attr("disabled", "disabled");
            //}
            //});

            $("#onlineForm").submit(function () {
                return checkbox.is(":checked");
            });
        });
    </script>
}

@section main{

    <div class="form-top">
        <div class="container">
            @{ Html.RenderPartial("LayoutPartials/Breadcrumb"); }
            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 8 });}
                    <h1 class="page-heading">Final Review</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="progress-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                    <p>
                        You’re almost there. Please review your answers in each section one more time. Once you are satisfied click complete.
                    </p>
                </div>
            </div>
        </div>
    </div>

    @{
        var indexes = new string[]{
            "1",
            "2a",
            "2b",
            "3",
            "4",
            "5",
            "6",
        };
        var texts = new string[]{
            "Personal Details",
            "Appointing Substitute Decision-Makers",
            "Conditions of Appointment",
            "What is important to me – my values and wishes",
            "Binding refusals of health care",
            "Interpreter statement",
            "Giving my Advance Care Directive",
        };
        var urls = new string[]{
            "Step1",
            "Step2A",
            "Step2B",
            "Step3",
            "Step4",
            "Step5",
            "Step6",
        };
    }


    <div class="progress-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3">

                    <ul class="progress-list">
                        @{
                            var unused = new List<int>();
                            if (Model.OnlineForm.NotCompleteStep2a)
                            {
                                unused.Add(1);
                            }
                            if (Model.OnlineForm.NotCompleteStep2b)
                            {
                                unused.Add(2);
                            }
                            if (Model.OnlineForm.NotCompleteStep3)
                            {
                                unused.Add(3);
                            }
                            if (Model.OnlineForm.NotCompleteStep5)
                            {
                                unused.Add(5);
                            }
                        }
                        @for (var i = 0; i < indexes.Length; i++)
                        {
                            var url = "javascrit:";
                            if (Model.OnlineForm.Status >= i)
                            {
                                url = string.Format("{0}/{1}", Model.OnlineFormPage.Url, urls[i]);
                            }
                            var css = unused.Contains(i) ? "unused" : null;
                            <li class="progress-list-item @css">
                                @if (Model.OnlineForm.Status > i)
                                {
                                    
                                    <a href="@url" class="complete">
                                        <span class="item-index complete">@indexes[i]</span>
                                        <span class="item-text">
                                            @texts[i]
                                        </span>
                                        <span class="item-checkbox icheckbox_flat checked"></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="@url">
                                        <span class="item-index">@indexes[i]</span>
                                        <span class="item-text">
                                            @texts[i]
                                        </span>
                                        <span class="item-checkbox icheckbox_flat"></span>
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                    @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { id = "onlineForm", @class = "" }))
                    {
                        <div class="form-group">

                            @Html.CheckBoxFor(m => m.Reviewed, new { @class = "" })
                            @Html.LabelFor(m => m.Reviewed, new { @class = "control-label" })
                            @Html.ValidationMessageFor(m => m.Reviewed)

                        </div>
                        <div class="form-group">

                            <input type="submit" class="btn btn-default btn-block" value="@Content.Translate.Text("Complete")" />

                        </div>
                    }

                </div>
            </div>

         
        </div>
    </div>


}
