﻿@model Acd.Web.Public.Models.OnlineFormStep4Model

@section javascript{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.charactercounter.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/timeout-watcher.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            window.session.monitorAuthenticationTimeout();
            $(".editor-field:first input").focus();

            $("#onlineForm textarea").each(function () {
                var textarea = $(this);
                var limit = textarea.attr("maxLen");
                textarea.characterCounter({
                    counterFormat: '%1 characters remaining.',
                    exceeded: false,
                    limit: limit,
                    onExceed: function (count) {
                        var val = textarea.val();
                        val = val.substring(0, limit);
                        textarea.val(val);
                        return false;
                    }
                });

                textarea.keydown(function (event) {
                    var val = textarea.val();
                    var allowKeys = /^(8|46|45|35|36|37|38|39|40|16|17|18)$/.test("" + event.keyCode);
                    if (val.length + 1 > limit && !allowKeys
                        && !event.ctrlKey && !event.altKey && !event.shiftKey) {
                        return false;
                    }
                });
            });

            $(".form-collapse-target,.form-collapse-heading").click(function () {
                $(this).parent().parent().find('.col-sm-2.col-sm-offset-1 .form-collapse-target').toggleClass("open-collapse");

            });

            var checkbox = $("#onlineForm input[type=checkbox].not-complete");
            var checkbox2 = $("#onlineForm input[type=checkbox].not-write");
            var inputs = $("#onlineForm textarea#WhatIsImportant");
            var inputs2 = $("#onlineForm textarea#RefusalsOfHealthCare");

            checkbox.on('ifChecked', function (event) {
                inputs.attr("disabled", "disabled");
            });
            checkbox.on('ifUnchecked', function (event) {
                inputs.removeAttr("disabled");
            });

            checkbox2.on('ifChecked', function (event) {
                inputs2.attr("disabled", "disabled");
            });
            checkbox2.on('ifUnchecked', function (event) {
                inputs2.removeAttr("disabled");
            });

            if (checkbox.is(":checked")) {
                inputs.attr("disabled", "disabled");
            }

            if (checkbox2.is(":checked")) {
                inputs2.attr("disabled", "disabled");
            }
        });
    </script>
}

@{
    ViewBag.Title = Model.OnlineFormPage.Title;
}


@section main{
    <div class="form-top">
        <div class="container">

            @{ Html.RenderPartial("LayoutPartials/Breadcrumb"); }

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 5 });}
                    <h1 class="page-heading">Part 4: Binding refusals of health care</h1>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { id = "onlineForm", @class = "" }))
    {
        <div class="main-content no-margin">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        @Content.Display.NewStep4Text

                        @Html.ValidationSummary(true, "Please correct the errors and try again.")

                        <div class="form-group col-sm-12">
                            @Html.CheckBoxFor(m => m.NotWriteDownRefusals, new {@class = "not-write"})
                            @Html.LabelFor(m => m.NotWriteDownRefusals, new {@class = "control-label"})
                        </div>

                        <div class="form-group col-sm-12">
                            <label>
                                I make the following binding refusal/s of particular health care:<br/>
                                <i><span style="font-weight: normal;">(If you are indicating refusal of health care, you must state when and in what circumstances it will apply as your refusal(s) must be followed, pursuant to section 19 of the Act, if relevant and applicable).</span></i>
                            </label>
                            @Html.ValidationMessageFor(m => m.RefusalsOfHealthCare)

                            @Html.TextAreaFor(m => m.RefusalsOfHealthCare, new {@class = "form-control", rows = 12, placeholder = "", maxLen = 2300})

                        </div>

                        <input type="hidden" id="GoNext" name="GoNext" value="true"/>
                        <div class="form-group col-sm-6">
                            <input type="submit" class="btn btn-default btn-block next-btn" onclick="$('#GoNext').val('false');" value="@Content.Translate.Text("Previous")"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="submit" class="btn btn-default btn-block prev-btn" onclick="$('#GoNext').val('true');" value="@Content.Translate.Text("Save and Continue")"/>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    }





    <div class="after-form full-width">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 5 });}
                </div>
            </div>
        </div>
    </div>
}
