﻿@model Acd.Web.Public.Models.OnlineFormStep3Model

@section javascript{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.charactercounter.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/timeout-watcher.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            window.session.monitorAuthenticationTimeout();
            $(".editor-field:first input").focus();

            $("#onlineForm textarea").each(function () {
                var textarea = $(this);
                var limit = textarea.attr("maxLen");
                textarea.characterCounter({
                    counterFormat: '%1 characters remaining.',
                    exceeded: false,
                    limit: limit,
                    onExceed: function (count) {
                        var val = textarea.val();
                        val = val.substring(0, limit);
                        textarea.val(val);
                        return false;
                    }
                });

                textarea.keydown(function (event) {
                    var val = textarea.val();
                    var allowKeys = /^(8|46|45|35|36|37|38|39|40|16|17|18)$/.test("" + event.keyCode);
                    if (val.length + 1 > limit && !allowKeys
                        && !event.ctrlKey && !event.altKey && !event.shiftKey) {
                        return false;
                    }
                });
            });

            $(".form-collapse-target,.form-collapse-heading").click(function () {
                $(this).parent().parent().find('.col-sm-2.col-sm-offset-1 .form-collapse-target').toggleClass("open-collapse");

            });

            var checkbox = $("#onlineForm input[type=checkbox].not-complete");
            var checkbox2 = $("#onlineForm input[type=checkbox].not-write");
            var inputs = $("#onlineForm textarea");//$("#onlineForm textarea#WhatIsImportant");
            var inputs2 = $("#onlineForm textarea#RefusalsOfHealthCare");

            checkbox.on('ifChecked', function (event) {
                inputs.attr("disabled", "disabled");
            });
            checkbox.on('ifUnchecked', function (event) {
                inputs.removeAttr("disabled");
            });

            checkbox2.on('ifChecked', function (event) {
                inputs2.attr("disabled", "disabled");
            });
            checkbox2.on('ifUnchecked', function (event) {
                inputs2.removeAttr("disabled");
            });

            if (checkbox.is(":checked")) {
                inputs.attr("disabled", "disabled");
            }

            if (checkbox2.is(":checked")) {
                inputs2.attr("disabled", "disabled");
            }
        });
    </script>
}

@{
    ViewBag.Title = Model.OnlineFormPage.Title;
}


@section main{
    <div class="form-top">
        <div class="container">

            @{ Html.RenderPartial("LayoutPartials/Breadcrumb"); }

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 4 });}
                    <h1 class="page-heading">Part 3: What is important to me – my values and wishes:</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="before-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <div class="feature-box">
                        <h3>Important</h3>
                        <p>Remember this part is about any time when you are unable to make your own decisions, not only at the end of your life (e.g. you may have an accident or develop a mental illness).</p>
                        <p><i>It is not helpful to write vague statements like "I don't want to be a vegetable" or "I don't want to be a burden on my family". These won't make it easier for others to make decisions for you.</i></p>
                        <p>If you have a diagnosed condition and you want to write specific health care instructions, ask your doctor or specialist if what you want to write will be understood and have the result you want.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="main-content nomargin">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <p>In this part you can write down:</p>
                    <ul>
                        <li><a href="#anchorOne">What is important to you.</a></li>
                        <li><a href="#anchorTwo">Outcomes of care that I wish to avoid.</a></li>
                        <li><a href="#anchorThree">Health care you prefer.</a></li>
                        <li><a href="#anchorFour">Where you wish to live.</a></li>
                        <li><a href="#anchorFive">Other personal arrangements.</a></li>
                        <li><a href="#anchorSix">Your dying wishes.</a></li>

                    </ul>

                    <p>You may wish to use headings for example “Where I wish to live” in this part so that it is clear to others what your wishes relate to.</p>
                    <p>
                        There is also space on this part of the Form for you to write down any specific refusals of health care – see second text box below.
                    </p>
                    <ul>
                        <li><a href="#anchorSeven">My refusals of health care.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="before-form full-width">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-1 col-sm-offset-2">
                    <span class="collapse-user-icon-info"></span>
                </div>
                <div class="col-xs-8 col-sm-6">

                    <a data-toggle="collapse" href="#detail1" class="form-collapse-heading">
                        <h2>KATERINA’S STORY</h2>
                    </a>

                    <div id="detail1" class="collapse">
                        <div class="collapse-wrap">
                            <div class="tip-detail-inner">
                                <p><b>KATERINA’S STORY:</b> Katerina (30) had a recurring mental illness. Sometimes she was well and sometimes she went off her medicine and became unwell. She knew that medicine X had terrible side-effects, but medicine Y did not. She wrote in her Advance Care Directive that she wanted medicine Y, but not medicine X if she ever became unwell. Katerina was glad she could make her wishes clear in her Advance Care Directive in case she couldn’t tell her doctor at the time.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-2 col-sm-offset-1">
                    <a data-toggle="collapse" href="#detail1" class="form-collapse-target"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="before-form full-width">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-1 col-sm-offset-2">
                    <span class="collapse-user-icon-info"></span>
                </div>
                <div class="col-xs-8 col-sm-6">

                    <a data-toggle="collapse" href="#detail3" class="form-collapse-heading">
                        <h2>EDWARD’S STORY</h2>
                    </a>

                    <div id="detail3" class="collapse">
                        <div class="collapse-wrap">
                            <div class="tip-detail-inner">
                                <p><b>EDWARD’S STORY:</b> Edward (87) had been in his nursing home for the past four years and it had become home to him. Edward had an Advance Care Directive and he had written that he wanted to die where he lived, have his children present and his favourite music playing. Edward deteriorated over the next three weeks. Because his wishes were known he died peacefully in the nursing home surrounded by his large family.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-2 col-sm-offset-1">
                    <a data-toggle="collapse" href="#detail3" class="form-collapse-target"></a>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { id = "onlineForm", @class = "" }))
    {
        <div class="main-content-">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">



                        @Html.ValidationSummary(true, "Please correct the errors and try again.")



                        <div class="form-group col-sm-12">
                            @Html.CheckBoxFor(m => m.NotCompleteStep3, new { @class = "not-complete" })
                            @Html.LabelFor(m => m.NotCompleteStep3, new { @class = "control-label" })
                        </div>


                        <div class="form-group col-sm-12">
                            <label>
                                When decisions are being made for me, I want people to consider the following:
                            </label>
                            @Html.ValidationMessageFor(m => m.WhatIsImportant)
                            @Html.TextAreaFor(m => m.WhatIsImportant, new { @class = "form-control", rows = 30, placeholder = "", maxLen = 6000 })
                        </div>

                        <div class="form-group col-sm-12">
                            <label>
                                Outcomes of care I wish to avoid (what I don’t want to happen to me):
                            </label>
                            @Html.ValidationMessageFor(m => m.OutcomesOfCareIWishToAvoid)
                            @Html.TextAreaFor(m => m.OutcomesOfCareIWishToAvoid, new {@class = "form-control", rows = 30, placeholder = "", maxLen = 6000})
                        </div>

                        <div class="form-group col-sm-12">
                            <label>
                                Health care I prefer:
                            </label>
                            @Html.ValidationMessageFor(m => m.HealthCareIPrefer)
                            @Html.TextAreaFor(m => m.HealthCareIPrefer, new {@class = "form-control", rows = 30, placeholder = "", maxLen = 6000})
                        </div>

                        <div class="form-group col-sm-12">
                            <label>
                                Where I wish to live:
                            </label>
                            @Html.ValidationMessageFor(m => m.WhereIWishToLive)
                            @Html.TextAreaFor(m => m.WhereIWishToLive, new {@class = "form-control", rows = 30, placeholder = "", maxLen = 6000})
                        </div>

                        <div class="form-group col-sm-12">
                            <label>
                                Other personal arrangements:
                            </label>
                            @Html.ValidationMessageFor(m => m.OtherPersonalArrangements)
                            @Html.TextAreaFor(m => m.OtherPersonalArrangements, new {@class = "form-control", rows = 30, placeholder = "", maxLen = 6000})
                        </div>

                        <div class="form-group col-sm-12">
                            <label>
                                Dying wishes:
                            </label>
                            @Html.ValidationMessageFor(m => m.DyingWishes)
                            @Html.TextAreaFor(m => m.DyingWishes, new {@class = "form-control", rows = 30, placeholder = "", maxLen = 6000})
                        </div>

                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="feature-box">
                            <h3>Important</h3>
                            <p>You cannot refuse compulsory mental health treatment (e.g. those treatments listed in a community treatment order if you have one).</p>
                            <p>A health practitioner can only override a refusal of health care if:</p>
                            <ul>
                                <li>there is evidence to suggest you have changed your mind, but did not update your Advance Care Directive or</li>
                                <li>the health practitioner believes you did not mean it to apply to the current circumstance.</li>
                            </ul>
                            <p>
                                If this happens, the health practitioner will need consent from your Substitute Decision-Maker if you have one, or a Person Responsible.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="main-content-">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        @*<div class="form-group col-sm-12">
                            @Html.CheckBoxFor(m => m.NotWriteDownRefusals, new { @class = "not-write" })
                            @Html.LabelFor(m => m.NotWriteDownRefusals, new { @class = "control-label" })
                        </div>

                        <div class="form-group col-sm-12">
                            <label>
                                I make the following binding refusal/s of particular health care:<br />
                                <i><span style="font-weight: normal;">(If you are indicating refusal of health care, you must state when and in what circumstances it will apply as your refusal(s) must be followed, pursuant to section 19 of the Act, if relevant and applicable).</span></i>
                            </label>
                            @Html.ValidationMessageFor(m => m.RefusalsOfHealthCare)

                            @Html.TextAreaFor(m => m.RefusalsOfHealthCare, new { @class = "form-control", rows = 12, placeholder = "", maxLen = 2300 })

                        </div>*@

                        <input type="hidden" id="GoNext" name="GoNext" value="true" />
                        <div class="form-group col-sm-6">
                            <input type="submit" class="btn btn-default btn-block next-btn" onclick="$('#GoNext').val('false');" value="@Content.Translate.Text("Previous")" />
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="submit" class="btn btn-default btn-block prev-btn" onclick="$('#GoNext').val('true');" value="@Content.Translate.Text("Save and Continue")" />
                        </div>

                        <p>By clicking the below options you can see some additional information and some suggested statements to help you work out what to write down. If you would like to include any of the suggested statements you can copy and paste them in to the text box.</p>

                    </div>

                </div>
            </div>
        </div>
    }

<div class="before-form full-width">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-1 col-sm-offset-2">
                <span class="collapse-user-icon-info"></span>
            </div>
            <div class="col-xs-8 col-sm-6">

                <a data-toggle="collapse" href="#detail4" class="form-collapse-heading">
                    <h2>LUCIA’S STORY</h2>
                </a>

                <div id="detail4" class="collapse">
                    <div class="collapse-wrap">
                        <div class="tip-detail-inner">
                            <p>
                                <b>LUCIA’S STORY:</b> Lucia (85) had an extensive history of heart disease as well as previous care for serious stomach problems. She went to the Emergency Department (ED) with severe pain, and could not make her own decisions. Lucia had made it clear in her Advance Care Directive that she only wanted comfort care in this situation. The ED staff accepted her refusal of health care and wishes, set her up in a separate room on the ward where her family could be with her and she died 36 hours later surrounded by her family, without
                                pain, and in the manner she preferred.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-2 col-sm-offset-1">
                <a data-toggle="collapse" href="#detail4" class="form-collapse-target"></a>
            </div>
        </div>
    </div>
</div>

    <div class="before-form full-width">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-1 col-sm-offset-2">
                    <span class="collapse-icon-info"></span>
                </div>
                <div class="col-xs-8 col-sm-6">

                    <a data-toggle="collapse" href="#collapseOne" class="form-collapse-heading" name="anchorOne">
                        <h2>What is important to me?</h2>
                    </a>

                    <div id="collapseOne" class="collapse">
                        <div class="collapse-wrap">
                            <p>
                                Writing down <b>what is important to you</b> about your life and health will help your Substitute Decision-Makers, those close to you, health practitioners and others to make decisions for you about your care and life if you are unable to make them yourself.
                            </p>
                            <p>
                                What would you want others to think about when making decisions for you?
                            </p>
                            <p>Consider the following suggested statements – you may want to write one or more of these on your Form, or you may have words of your own you want to use.</p>
                            <div class="suggested">

                                <h3>Some suggested statements:
                                </h3>
                                <p>These can be copied and pasted into your document.</p>
                                <div style="margin-left: 20px">
                                    <p>
                                        Relationships with my family and my friends are very important to me. I would like my family and friends to be involved in my life.
                                    </p>
                                    <p>
                                        I prefer my pets to be near me or continue to be able to see them.
                                    </p>
                                    <p>
                                        Being independent is important to me and I would prefer not to have to rely on others daily.
                                    </p>
                                    <p>
                                        My cultural traditions and community are important to me.
                                    </p>
                                    <p>
                                        I prefer to continue to be
                                    involved with my cultural community if possible.
                                    </p>
                                    <p>
                                        My religion is central to my life.
                                    </p>
                                    <p>
                                        My decisions are guided by my religious faith which is...
                                    </p>
                                    <p>
                                        I value my cultural identity and enjoy the company of those who speak my first language.
                                    </p>
                                    <p>
                                        I have spent my life in the gay and lesbian community and wish to continue such contact.
                                    </p>
                                    <p>I value being alive.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-2 col-sm-offset-1">
                    <a data-toggle="collapse" href="#collapseOne" class="form-collapse-target"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="before-form full-width">
        <div class="container">

            <div class="row">
                <div class="col-xs-2 col-sm-1 col-sm-offset-2">
                    <span class="collapse-icon-info"></span>
                </div>
                <div class="col-xs-8 col-sm-6">

                    <a data-toggle="collapse" href="#collapseTwo" class="form-collapse-heading" name="anchorTwo">
                        <h2>What I don’t want </br><span style="font-size: 16px;">(outcomes of care I wish to avoid).</span></h2>

                    </a>

                    <div id="collapseTwo" class="collapse">
                        <div class="collapse-wrap">
                            <p>
                                It is very hard to know what health care you may want in the future – especially if you are well and don’t know what health problems you might have later.
                            </p>
                            <p>
                                Sometimes when you are sick or hurt, having health care will mean that you get better and go back to the way you were before (e.g. if you have a blood infection, antibiotics can often help cure this and get you back to the way you were before).
                            </p>
                            <p>
                                Other times health care can only help you a little and even though you may improve, you may not be able to live the same way as you did before (e.g. you may have had a stroke and need physiotherapy, but afterwards you may not be fully mobile and need help to dress yourself, shower, cook or need assistance walking).
                            </p>
                            <p>
                                How you feel and what your life is like after health care is given is called
                                    <b>an outcome of health care.</b>
                            </p>
                            <div class="suggested">
                                <p>You may want to write down outcomes of care you wish to avoid. Consider these suggested statements.</p>

                                <h3>Some suggested statements.</h3>
                                <p>These can be copied and pasted into your document.</p>
                                <div style="margin-left: 20px">
                                    <p>
                                        If I am unable to recognise family and friends (for example, having dementia) and unable to communicate, I do not want any health care which prolongs my life.
                                    </p>
                                    <p>
                                        If I have a serious car accident or illness and I am not likely to recover, I would prefer comfort care to maintain my dignity.
                                    </p>
                                    <p>
                                        If I am in a permanent coma, and I am not likely to communicate meaningfully again, I do not want health care that keeps me alive and would prefer to be comfortable and allowed to die with dignity. I would like to donate my organs/tissues if possible.
                                    </p>
                                    <p>
                                        If I have a mental health episode I would prefer to be given my usual treatment at home and not be put into institutional care.
                                    </p>
                                    <p>
                                        If I have a serious brain injury I am happy to be alive and would accept all health care which is offered to me – even if such care leaves me with physical or mental disabilities.
                                    </p>
                                    <p>I want to live as well as possible for as long as possible and I am willing to accept medical treatment that my doctors and family think is appropriate.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-offset-1">
                    <a data-toggle="collapse" href="#collapseTwo" class="form-collapse-target"></a>
                </div>
            </div>

        </div>
    </div>

    <div class="before-form full-width">
        <div class="container">

            <div class="row">
                <div class="col-xs-2 col-sm-1 col-sm-offset-2">
                    <span class="collapse-icon-info"></span>
                </div>
                <div class="col-xs-8 col-sm-6">

                    <a data-toggle="collapse" href="#collapseThree" class="form-collapse-heading" name="anchorThree">
                        <h2>Health care you prefer.</h2>

                    </a>

                    <div id="collapseThree" class="collapse">
                        <div class="collapse-wrap">
                            <p>You may have clear wishes or instructions about specific health care (including medical treatment) you prefer or do not want.</p>

                            <p>When you need health care, health practitioners think about what is wrong with you and tell you what health care they consider will help you or your illness.</p>
                            <p>There may be one choice of health care or many. Your health practitioner should clearly explain your health care options to you, your Substitute Decision-Maker or Person Responsible and what those options will mean for your health and life.</p>
                            <p>
                                If you want to write health care instructions, consider these
                            suggested statements.
                            </p>
                            <div class="suggested">


                                <h3>Some suggested statements.</h3>


                                <p>These can be copied and pasted into your document.</p>
                                <div style="margin-left: 20px">
                                    <p>
                                        If I am permanently unable to communicate, or recognise my
                            family and friends, I only want
                            medical treatment which keeps
                            me comfortable.
                                    </p>
                                    <p>If I have a mental illness and I am temporarily unable to make my own decisions, I prefer to be given my usual medications even if I refuse them at the time.</p>
                                    <p>I will accept all health care and medical treatment which will improve my health and give me more time with my family, if considered appropriate.</p>
                                    <p>If I have dementia and I fall and break my hip, I agree to surgery if it is considered appropriate.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-offset-1">
                    <a data-toggle="collapse" href="#collapseThree" class="form-collapse-target"></a>
                </div>
            </div>

        </div>
    </div>

    <div class="before-form full-width">
        <div class="container">

            <div class="row">
                <div class="col-xs-2 col-sm-1 col-sm-1 col-sm-offset-2">
                    <span class="collapse-icon-info"></span>
                </div>
                <div class="col-xs-8 col-sm-6">

                    <a data-toggle="collapse" href="#collapseFour" class="form-collapse-heading" name="anchorFour">
                        <h2>Where I wish to live.</h2>

                    </a>

                    <div id="collapseFour" class="collapse">
                        <div class="collapse-wrap">
                            <p>In the future, you might not be as independent as you are now and you might need:</p>
                            <ul>
                                <li>to be supported to live independently with in-home care and support</li>
                                <li>care by family, friends or professionals</li>
                                <li>to be looked after in a disability or aged care facility</li>
                                <li>temporary care or support or a permanent or long term arrangement.</li>
                            </ul>
                            <div class="suggested">


                                <h3>You may wish to consider these suggested statements.</h3>
                                <div style="margin-left: 20px">
                                    <p>
                                        I prefer to be supported and cared for at home for as long as possible.
                                    </p>
                                    <p>I prefer to live with my family for as long as possible.</p>
                                    <p>I prefer to maintain my independence for as long as possible.</p>
                                    <p>I prefer to live close to family and friends so they can visit me easily.</p>
                                    <p>I prefer to live where my spiritual needs will be met.</p>
                                    <p>I prefer to live somewhere where they respect my sexuality.</p>
                                    <p>I prefer to live in a place where the staff speak my language.</p>
                                    <p>I prefer to live where treatment and care can be provided to me.</p>
                                    <p>
                                        I prefer to live somewhere that has a garden or is near the beach.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-offset-1">
                    <a data-toggle="collapse" href="#collapseFour" class="form-collapse-target"></a>
                </div>
            </div>

        </div>
    </div>

    <div class="before-form full-width">
        <div class="container">

            <div class="row">
                <div class="col-xs-2 col-sm-1 col-sm-offset-2">
                    <span class="collapse-icon-info"></span>
                </div>
                <div class="col-xs-8 col-sm-6">

                    <a data-toggle="collapse" href="#collapseFive" class="form-collapse-heading" name="anchorFive">
                        <h2>Other personal arrangements.</h2>

                    </a>

                    <div id="collapseFive" class="collapse">
                        <div class="collapse-wrap">

                            <p>There may be some activities, interests or hobbies which are important to your life.</p>
                            <p>Write these down on your Advance Care Directive Form so that others know your likes and dislikes.</p>

                            <p><b>Things to consider.</b></p>
                            <div style="margin-left: 20px">
                                <p>
                                    Activities you enjoy and prefer to keep doing if you are able to, such as walking, gardening or singing in
                            a choir.
                                </p>
                                <p>
                                    Things you do not like to do, such as playing bingo or long car drives.
                                </p>
                                <p>
                                    Organisations or groups that you belong to and want to continue with.
                                </p>
                                <p>
                                    Relationships that are important to you.
                                </p>
                                <p>
                                    Your favourite music.
                                </p>
                                <p>
                                    Grooming requirements such as haircuts and removal of facial hair.
                                </p>
                                <p>
                                    Who you prefer to spend holidays with.
                                </p>
                                <p>
                                    People who you do or do not want to visit you.
                                </p>
                                <p>
                                    Personal dress standards, for example I do not want to wear tracksuits at any time of the day or night.
                                </p>
                                <p>
                                    Who you would prefer to look after your children or pets if you need supported care.
                                </p>
                                <p>
                                    These will help others, who may be making decisions for you or caring for you, know your likes and dislikes. Remember you may not be able to tell them yourself in the future.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-offset-1">
                    <a data-toggle="collapse" href="#collapseFive" class="form-collapse-target"></a>
                </div>
            </div>

        </div>
    </div>

    <div class="before-form full-width">
        <div class="container">

            <div class="row">
                <div class="col-xs-2 col-sm-1 col-sm-offset-2">
                    <span class="collapse-icon-info"></span>
                </div>
                <div class="col-xs-8 col-sm-6">

                    <a data-toggle="collapse" href="#collapseSix" class="form-collapse-heading" name="anchorSix">
                        <h2>My dying wishes.</h2>

                    </a>

                    <div id="collapseSix" class="collapse">
                        <div class="collapse-wrap">
                            <p>Thinking about your wishes for the end of your life is hard to do. Think about what would be most important to you at this time, such as:</p>
                            <ul>
                                <li>Situations you want to avoid or that would be unacceptable when you
                                are dying.
                                </li>
                                <li>Where you would prefer to die
                                (at home, or in your aged care facility or hospital).
                                </li>
                                <li>Who you would want to be there.
                                </li>
                                <li>What or who is important to you at the end of your life.
                                </li>
                                <li>Your spiritual, religious or cultural traditions that are important to you.
                                </li>
                                <li>Aboriginal and Torres Strait Islander practices that you want followed
                                (e.g. Return to Country).
                                </li>
                                <li>Your organ and tissue donation wishes in case you die in circumstances where this is possible. For more information on organ and tissue donation please visit <a href="http://www.donatelife.gov.au" target="_blank">www.donatelife.gov.au</a>
                                </li>
                                <li>Your burial or cremation wishes or funeral arrangements.
                                </li>
                            </ul>


                            <div class="suggested">


                                <h3>Some suggested statements.</h3>
                                <p>These can be copied and pasted into your document.</p>
                                <div style="margin-left: 20px">
                                    <p>
                                        I want more time with my family.
                                    </p>
                                    <p>I would prefer to have better quality of life for a shorter time.</p>
                                    <p>I want to be in a comfortable, familiar environment surrounded by my memories.</p>
                                    <p>When I am dying I would like my favourite music playing and the room lit with soft light/candles.</p>
                                    <p>When I am dying, please make sure my room is full of happiness and joy – I want people to celebrate my life and not mourn my dying.</p>
                                    <p>If I can, I want to donate my organs and tissues.</p>
                                    <p>
                                        My spirituality is important to me so please let nature take its course and just make sure I am comfortable.
                                    </p>
                                    <p>
                                        My religion is important to me and I want my religious adviser contacted (insert contact details).
                                    </p>
                                    <p>I want time to say goodbye to my family if possible. Please try and keep me alive so my family can see me before I die.</p>
                                    <p>
                                        If I am dying, I do not want to be transferred to hospital unless my comfort and dignity cannot be maintained in my home/nursing home.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-offset-1">
                    <a data-toggle="collapse" href="#collapseSix" class="form-collapse-target"></a>
                </div>
            </div>

        </div>
    </div>

    <div class="before-form full-width">
        <div class="container">

            <div class="row">
                <div class="col-xs-2 col-sm-1 col-sm-offset-2">
                    <span class="collapse-icon-info"></span>
                </div>
                <div class="col-xs-8 col-sm-6">

                    <a data-toggle="collapse" href="#collapseSeven" class="form-collapse-heading" name="anchorSeven">
                        <h2>My refusals of health care.</h2>

                    </a>

                    <div id="collapseSeven" class="collapse">
                        <div class="collapse-wrap">

                            <p>If you do not want certain types of health care you can write this down in your Advance Care Directive. This is called a refusal of health care.</p>
                            <p>If you do this, it is important to make sure you write down when, or under what circumstance, the refusal applies (e.g. if I have a condition or illness from which I will not recover).</p>
                            <p>If you have refused specific health care in your Advance Care Directive, your health practitioner cannot give you that health care. If your Substitute Decision-Maker or Person Responsible says no to health care (because they believe it is the decision you would have made) your health practitioner cannot give you that health care.</p>

                            <p>If you want to write specific refusals of health care, medical treatment or life-sustaining treatment, consider these statements.</p>
                            <div class="suggested">


                                <h3>Some suggested statements.</h3>
                                <p>These can be copied and pasted into your document.</p>
                                <div style="margin-left: 20px">
                                    <p>
                                        I do not want to be fed by a tube, even if this means I may die. I only want to be offered foods and fluids by mouth.
                                    </p>
                                    <p>If I am permanently unable to communicate and make my own decisions (e.g. because of dementia or a serious stroke), I do not want any treatment that would leave me with worse symptoms – even if it means I will live longer. I only want treatment that improves my physical and mental health, and to be kept comfortable.</p>
                                    <p>
                                        If I have a terminal illness and I am dying, I do not want any life-sustaining treatments. Please keep me comfortable.
                                    </p>
                                    <p>
                                        If I have a serious condition from which I am not going to recover, I am incontinent, cannot eat without assistance and I am dependent on others to wash and move me, I do not want any treatment which prolongs my life. Please keep me comfortable where I live if possible.
                                    </p>
                                    <p>
                                        If I am permanently unable to communicate, I do not wish to have any medical treatments that will prolong my life. Please give me palliative care.
                                    </p>
                                    <p>I do not want to have my heart started if it stops at any stage of my life. I would prefer to die quickly.</p>
                                    <p>I do not want my limbs amputated, even if it would save my life. I prefer to die with my limbs intact.</p>
                                    <p>
                                        If I am permanently living in institutional care or requiring 24 hours a day care, I only want health care to make me comfortable and which doesn’t prolong my life.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-offset-1">
                    <a data-toggle="collapse" href="#collapseSeven" class="form-collapse-target"></a>
                </div>
            </div>

        </div>
    </div>



    <div class="after-form full-width">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 4 });}
                </div>
            </div>
        </div>
    </div>
}
