﻿@model Acd.Web.Public.Models.OnlineFormStep5Model
@section head{
    <link href="/content/themes/base/jquery.ui.theme.css" rel="stylesheet">
}
@section javascript{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/timeout-watcher.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            window.session.monitorAuthenticationTimeout();
            $(".editor-field:first input").focus();
            //$("input[type=date]").datepicker({ dateFormat: 'dd-mm-yy' }).get(0).setAttribute('type', 'text');

            var checkbox = $("#onlineForm input[type=checkbox].not-complete");
            var inputs = $("#onlineForm input[type=text],#onlineForm input[type=date],#onlineForm textarea");
            checkbox.on('ifChecked', function (event) {
                inputs.attr("disabled", "disabled");
            });
            checkbox.on('ifUnchecked', function (event) {
                inputs.removeAttr("disabled");
            });
            if (checkbox.is(":checked")) {
                inputs.attr("disabled", "disabled");
            }

            $("input.number").validate({
                rules: {
                    number: true
                }
            });
        });

        //$(Modernizr.load({
        //    test: Modernizr.inputtypes.date,
        //    nope: "/Scripts/jquery-ui-1.10.4.min.js",
        //    callback: function () {
        //        $("input[type=date]").datepicker({ dateFormat: 'yy-mm-dd' }).get(0).setAttribute('type', 'text');
        //    }
        //}));
    </script>
}

@{
    ViewBag.Title = Model.OnlineFormPage.Title;
}

@section main{
    <div class="form-top">
        <div class="container">

            @{ Html.RenderPartial("LayoutPartials/Breadcrumb"); }

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 6 });}
                    <h1 class="page-heading">Part 5: Interpreter statement</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content no-margin">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    @Content.Display.Step5Text

                    @*If you have not used an interpreter please put a line diagonally through this part.*@

                    @Html.ValidationSummary(true, "Please correct the errors and try again.")

                    @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new {id="onlineForm" }))
                    {
                        <div class="row">
                            <div class="form-group col-sm-12">
                                @Html.CheckBoxFor(m => m.NotCompleteStep5, new { @class = "not-complete" })
                                @Html.LabelFor(m => m.NotCompleteStep5, new { @class = "control-label" })
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="Name">Full name of Interpreter</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "", style="text-transform: uppercase;" })
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>

                            <div class="form-group col-sm-12">
                                @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control number1", placeholder = "" })
                                @Html.ValidationMessageFor(m => m.Phone)
                            </div>

                            <div class="form-group col-sm-12">
                                @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "" })
                                @Html.ValidationMessageFor(m => m.Address)
                            </div>

                            <input type="hidden" id="GoNext" name="GoNext" value="true" />
                            <div class="form-group col-sm-6">
                                <input type="submit" class="btn btn-default btn-block next-btn" onclick="$('#GoNext').val('false');" value="@Content.Translate.Text("Previous")" />
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="submit" class="btn btn-default btn-block prev-btn" onclick="$('#GoNext').val('true');" value="@Content.Translate.Text("Save and Continue")" />
                            </div>

                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

<div class="after-form full-width">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                @{Html.RenderAction("ProgressHeader", new { step = 6 });}
            </div>
        </div>
    </div>
</div>
}



