﻿@model Acd.Web.Public.Models.OnlineFormStep1Model

@section head{
    <link href="/content/themes/base/jquery.ui.theme.css" rel="stylesheet">
    <style>
        select.ui-datepicker-month, select.ui-datepicker-year {
            color: #474747;
            font-weight: normal;
        }
    </style>
}
@section javascript{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/timeout-watcher.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            window.session.monitorAuthenticationTimeout();
            $(".editor-field:first input").focus();
            $("input.datepicker").datepicker({ dateFormat: 'dd-mm-yy', defaultDate: '01-01-1980', yearRange: "@string.Format("{0:yyyy}:{1:yyyy}",DateTime.Today.AddYears(-110),DateTime.Today.AddYears(-18))", changeMonth: true, changeYear: true, minDate: '@string.Format("{0:dd-MM-yyyy}", DateTime.Now.AddYears(-110))', maxDate: '@string.Format("{0:dd-MM-yyyy}", DateTime.Now.AddYears(-18))' }).get(0).setAttribute('type', 'text');
        });
    </script>
}

@{
    ViewBag.Title = Model.OnlineFormPage.Title;
}

@section main{

    <div class="form-top">
        <div class="container">

            @{ Html.RenderPartial("LayoutPartials/Breadcrumb"); }

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 1 });}
                    <h1 class="page-heading">Part 1: Personal details</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content no-margin">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    @Content.Display.Step1Text

                    @Html.ValidationSummary(true, "Please correct the errors and try again.")

                    @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { @class = "" }))
                    {
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="Name">Full name of person giving this Advance Care Directive</label>
                                @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = ""})
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                @Html.LabelFor(m => m.Address, new { @class = "" })
                                @Html.TextBoxFor(m => m.Address, new {@class = "form-control", placeholder = ""})
                                @Html.ValidationMessageFor(m => m.Address)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                @Html.LabelFor(m => m.Phone, new { @class = "" })
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "" })
                                @Html.ValidationMessageFor(m => m.Phone)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                @Html.LabelFor(m => m.DateOfBirthStr, new { @class = "" })
                                @Html.TextBoxFor(m => m.DateOfBirthStr, new { @class = "form-control datepicker", placeholder = "DD-MM-YYYY" })
                                @Html.ValidationMessageFor(m => m.DateOfBirthStr)
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" id="GoNext" name="GoNext" value="true" />
                            <div class="form-group col-sm-6">
                                <input type="submit" class="btn btn-default btn-block next-btn" onclick="$('#GoNext').val('false');" value="@Content.Translate.Text("Previous")" />
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="submit" class="btn btn-default btn-block prev-btn" onclick="$('#GoNext').val('true');" value="@Content.Translate.Text("Save and Continue")" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

<div class="after-form full-width">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                @{Html.RenderAction("ProgressHeader", new { step = 1 });}
            </div>
        </div>
    </div>
</div>

}
