﻿@model Acd.Web.Public.Models.OnlineFormStep6Model
@section head{
    <link href="/content/themes/base/jquery.ui.theme.css" rel="stylesheet">
}
@section javascript{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/timeout-watcher.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            window.session.monitorAuthenticationTimeout();
            $(".editor-field:first input").focus();
            //$("input[type=date]").datepicker({ dateFormat: 'dd-mm-yy' }).get(0).setAttribute('type', 'text');

            var checkbox = $("#onlineForm input[type=checkbox].not-complete");
            var inputs = $("#onlineForm input[type=text],#onlineForm input[type=date],#onlineForm textarea");

            checkbox.on('ifChecked', function (event) {
                inputs.attr("disabled", "disabled");
            });
            checkbox.on('ifUnchecked', function (event) {
                inputs.removeAttr("disabled");
            });

            if (checkbox.is(":checked")) {
                inputs.attr("disabled", "disabled");
            }

            $("input.number").validate({
                rules: {
                    number: true
                }
            });
        });

        //$(Modernizr.load({
        //    test: Modernizr.inputtypes.date,
        //    nope: "/Scripts/jquery-ui-1.10.4.min.js",
        //    callback: function () {
        //        $("input[type=date]").datepicker({ dateFormat: 'yy-mm-dd' }).get(0).setAttribute('type', 'text');
        //    }
        //}));
    </script>
}

@{
    ViewBag.Title = Model.OnlineFormPage.Title;
}

@section main{
    <div class="form-top">
        <div class="container">

            @{ Html.RenderPartial("LayoutPartials/Breadcrumb"); }

            <div class="row">
                <div class=" col-sm-8 col-sm-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 7 });}
                    <h1 class="page-heading">Part 6: Giving my Advance Care Directive</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content no-margin">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    @Content.Display.Step4Text


                    @Html.ValidationSummary(true, "Please correct the errors and try again.")

                    @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { id = "onlineForm", @class = "" }))
                    {

                        <div class="row">
                            <div class="form-group col-sm-12">
                                @Html.CheckBoxFor(m => m.DoNotKnowWitness, new { @class = "not-complete" })
                                @Html.LabelFor(m => m.DoNotKnowWitness, new { @class = "control-label" })
                            </div>
                            <h2 class="form-title">Witness</h2>

                            <div class="form-group col-sm-12">
                                <label class="control-label" for="WitnessName">Full name of Witness</label>

                                @Html.TextBoxFor(m => m.WitnessName, new { @class = "form-control", placeholder = "", style = "text-transform: uppercase;" })
                                @Html.ValidationMessageFor(m => m.WitnessName)

                            </div>

                            <div class="form-group col-sm-12">
                                @Html.LabelFor(m => m.Phone, new { @class = "control-label" })

                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control number1", placeholder = "" })
                                @Html.ValidationMessageFor(m => m.Phone)

                            </div>
                            @*<div class="form-group col-sm-12">
                                @Html.LabelFor(m => m.Occupation, new { @class = "control-label" })

                                @Html.TextBoxFor(m => m.Occupation, new { @class = "form-control", placeholder = "" })
                                @Html.ValidationMessageFor(m => m.Occupation)

                            </div>*@
                            <div class="form-group col-sm-12">
                                @Html.LabelFor(m => m.AuthorisedWitnessCategory, new {@class = "control-label"})

                                @Html.TextBoxFor(m => m.AuthorisedWitnessCategory, new {@class = "form-control", placeholder = ""})
                                @Html.ValidationMessageFor(m => m.AuthorisedWitnessCategory)

                            </div>
                            <div class="form-group col-sm-12">
                                @Html.LabelFor(m => m.SpaceForExtraExecutionStatement, new { @class = "control-label" })
                                @Html.ValidationMessageFor(m => m.SpaceForExtraExecutionStatement)
                                @Html.TextAreaFor(m => m.SpaceForExtraExecutionStatement, new { @class = "form-control", rows = 12, placeholder = "", maxLen = 6000 })
                            </div>

                            <input type="hidden" id="GoNext" name="GoNext" value="true" />
                            <div class="form-group col-sm-6">
                                <input type="submit" class="btn btn-default btn-block next-btn" onclick="$('#GoNext').val('false');" value="@Content.Translate.Text("Previous")" />
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="submit" class="btn btn-default btn-block prev-btn" onclick="$('#GoNext').val('true');" value="@Content.Translate.Text("Save and Review")" />
                            </div>
                        </div>

                    }


                </div>
            </div>


        </div>
    </div>

<div class="after-form full-width">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                @{Html.RenderAction("ProgressHeader", new { step = 7 });}
            </div>
        </div>
    </div>
</div>
}
