﻿@model Acd.Web.Public.Models.OnlineFormStep2BModel

@section javascript{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/timeout-watcher.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            window.session.monitorAuthenticationTimeout();
            $(".editor-field:first input").focus();

            $(".form-collapse-heading").click(function () {
                $(this).parent().parent().find('.form-collapse-outer .form-collapse-target').toggleClass("collapsed");

            });

            $(".form-collapse-target-foot").click(function () {
                $(this).parent().parent().parent().parent().parent().find('.form-collapse-outer .form-collapse-target').toggleClass("collapsed");

            });

            var checkbox = $("#onlineForm input[type=checkbox].not-complete");
            var inputs = $("#onlineForm input[type=text],#onlineForm input[type=date],#onlineForm textarea");
            checkbox.on('ifChecked', function (event) {
                inputs.attr("disabled", "disabled");
            });
            checkbox.on('ifUnchecked', function (event) {
                inputs.removeAttr("disabled");
            });
            if (checkbox.is(":checked")) {
                inputs.attr("disabled", "disabled");
            }
        });
    </script>
}

@{
    ViewBag.Title = Model.OnlineFormPage.Title;
}


@section main{
    <div class="form-top">
        <div class="container">

            @{ Html.RenderPartial("LayoutPartials/Breadcrumb"); }

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 3 });}
                    <h1 class="page-heading">Part 2b: Conditions of Appointment</h1>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { id = "onlineForm", @class = "" }))
    {
        <div class="main-content-">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        @Content.Display.Step2bText






                    </div>
                </div>
            </div>
        </div>

        <div class="before-form full-width">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2 col-xs-offset-1 col-sm-1 col-sm-offset-2">
                        <span class="collapse-user-icon-info"></span>
                    </div>
                    <div class="col-xs-8 col-sm-6">

                        <a data-toggle="collapse" href="#detail1" class="form-collapse-heading">
                            <h2>AARTI'S STORY</h2>
                        </a>

                        <div id="detail1" class="collapse">
                            <div class="collapse-wrap">
                                <div class="tip-detail-inner">
                                    <p><b>AARTI'S STORY:</b> Aarti (42) put a condition in her Advance Care Directive that her close friends, who she appointed as her Substitute Decision-Makers, must speak to Aarti's brother Raj, who lives in Victoria, about any decisions. She hopes this will avoid conflict with any of her family members in the future.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-2 col-sm-offset-1 form-collapse-outer">
                        <a data-toggle="collapse" href="#detail1" class="form-collapse-target collapsed"></a>
                    </div>

                </div>
            </div>
        </div>

    <div class="main-content no-margin">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    @Html.ValidationSummary(true, "Please fill out your conditions, or select not to place any conditions on appointment.")


                    <div class="row">
                        <div class="form-group col-sm-12">
                            @Html.CheckBoxFor(m => m.NotCompleteStep2b, new { @class = "not-complete" })
                            @Html.LabelFor(m => m.NotCompleteStep2b, new { @class = "control-label" })
                        </div>
                        <div class="form-group col-sm-12">
                            <label>
                                If you have appointed more than one Substitute Decision-Maker do you want them to make decisions together or separately?<br />
                                If you do not specify, your Substitute-Decision Makers will be able to make decisions either together or separately.<br />
                                What types of decisions do you want your Substitute Decision-Maker(s) to make? (if all – health care, residential or personal leave blank).<br />
                                Is there anyone you would like your Substitute Decision-Maker(s) to consult with when making decisions for you?<br />
                                Please specify below:
                            </label>
                            @*<div class="form-tip icon-user">
                    <a class="tip-trigger" data-toggle="collapse" href="#detail1">Open</a>
                    <div class="tip-detail collapse" id="detail1">
                        <div class="tip-detail-inner">

                            <p><b>AARTI'S STORY:</b> Aarti (42) put a condition in her Advance Care Directive that her close friends, who she appointed as her Substitute Decision-Makers, must speak to Aarti's brother Raj, who lives in Victoria, about any decisions. She hopes this will avoid conflict with any of her family members in the future.</p>
                        </div>
                    </div>
                </div>*@
                            @Html.TextAreaFor(m => m.ConditionsOfAppointment, new { @class = "form-control", rows = 10, placeholder = "", maxLength = 100000 })
                            @Html.ValidationMessageFor(m => m.ConditionsOfAppointment)
                        </div>




                        <input type="hidden" id="GoNext" name="GoNext" value="true" />
                        <div class="form-group col-sm-6">
                            <input type="submit" class="btn btn-default btn-block next-btn" onclick="$('#GoNext').val('false');" value="@Content.Translate.Text("Previous")" />
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="submit" class="btn btn-default btn-block prev-btn" onclick="$('#GoNext').val('true');" value="@Content.Translate.Text("Save and Continue")" />
                        </div>
                        </div>


                    </div>
            </div>

        </div>
    </div>

    <div class="after-form full-width">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 3 });}
                </div>
            </div>
        </div>
    </div>
    }
}
