﻿@model Acd.Web.Public.Models.OnlineFormStep2AModel
@section head{
    <link href="/content/themes/base/jquery.ui.theme.css" rel="stylesheet">
    <style>
        select.ui-datepicker-month,select.ui-datepicker-year
        {
            color:#474747;
            font-weight:normal;
        }
    </style>
}
@section javascript{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Scripts/timeout-watcher.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            window.session.monitorAuthenticationTimeout();
            $(".editor-field:first input").focus();
            $("input.datepicker").datepicker({ dateFormat: 'dd-mm-yy', defaultDate: '01-01-1980', yearRange: "@string.Format("{0:yyyy}:{1:yyyy}",DateTime.Today.AddYears(-110),DateTime.Today.AddYears(-18))", changeMonth: true, changeYear: true, minDate: '@string.Format("{0:dd-MM-yyyy}", DateTime.Now.AddYears(-110))', maxDate: '@string.Format("{0:dd-MM-yyyy}", DateTime.Now.AddYears(-18))' }).get(0).setAttribute('type', 'text');

            var checkbox = $("#onlineForm input[name=NotCompleteStep2a]");
            var checkbox2 = $("#onlineForm input[name=NotAppointMaker2]");
            var checkbox3 = $("#onlineForm input[name=NotAppointMaker3]");
            var inputs = $("#onlineForm input[type=text],#onlineForm input[type=date],#onlineForm textarea");
            var inputs2 = $("#divMarker2 input[type=text],#divMarker2 input[type=date],#divMarker2 textarea");
            var inputs3 = $("#divMarker3 input[type=text],#divMarker3 input[type=date],#divMarker3 textarea");
            checkbox.on('ifChecked', function (event) {
                inputs.attr("disabled", "disabled");
                checkbox2.iCheck("check");
                checkbox3.iCheck("check");
                checkbox2.iCheck("disable");
                checkbox3.iCheck("disable");
            });
            checkbox.on('ifUnchecked', function (event) {
                inputs.removeAttr("disabled");
                checkbox2.iCheck("uncheck");
                checkbox3.iCheck("uncheck");
                checkbox2.iCheck("enable");
                checkbox3.iCheck("enable");
            });
            if (checkbox.is(":checked")) {
                inputs.attr("disabled", "disabled");
                checkbox2.iCheck("disable");
                checkbox3.iCheck("disable");
            }

            checkbox2.on('ifChecked', function (event) {
                inputs2.attr("disabled", "disabled");
                inputs3.attr("disabled", "disabled");
                checkbox3.iCheck("check");
                checkbox3.iCheck("disable");
            });
            checkbox2.on('ifUnchecked', function (event) {
                inputs2.removeAttr("disabled");
                inputs3.removeAttr("disabled");
                checkbox3.iCheck("uncheck");
                checkbox3.iCheck("enable");
            });
            if (checkbox2.is(":checked")) {
                inputs2.attr("disabled", "disabled");
                checkbox3.iCheck("disable");
            }

            checkbox3.on('ifChecked', function (event) {
                inputs3.attr("disabled", "disabled");
            });
            checkbox3.on('ifUnchecked', function (event) {
                inputs3.removeAttr("disabled");
            });
            if (checkbox3.is(":checked")) {
                inputs3.attr("disabled", "disabled");
            }

            $("input.number").validate({
                rules: {
                    number:true
                }
            });
        });

        //$(Modernizr.load({
        //    test: Modernizr.inputtypes.date,
        //    nope: "/Scripts/jquery-ui-1.10.4.min.js",
        //    callback: function () {
        //        $("input[type=date]").datepicker({ dateFormat: 'dd-mm-yy' }).get(0).setAttribute('type', 'text');
        //    }
        //}));
    </script>
}

@{
    ViewBag.Title = Model.OnlineFormPage.Title;
}

@section main{
    <div class="form-top">
        <div class="container">

            @{ Html.RenderPartial("LayoutPartials/Breadcrumb"); }

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @{Html.RenderAction("ProgressHeader", new { step = 2 });}
                    <h1 class="page-heading">Part 2a: Appointing Substitute Decision-Makers</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content no-margin">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                @Content.Display.Step2aText

                @Html.ValidationSummary(true, "Please correct the errors and try again.")

                @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { id = "onlineForm", @class = "" }))
                {
                    @Html.HiddenFor(m => m.Name)
                    <div class="row">
                        <div class="form-group col-sm-12">
                            @Html.CheckBoxFor(m => m.NotCompleteStep2a, new { @class = "not-complete" })
                            @Html.LabelFor(m => m.NotCompleteStep2a, new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="row">
                        @{Model.Marker1.Prefix = "Marker1";
                        Model.Marker1.Person_Name = Model.Name;}

                        <h2 class="form-title">Substitute Decision Maker 1</h2>
                        @{Html.RenderPartial("Marker", Model.Marker1);}
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            @Html.CheckBoxFor(m => m.NotAppointMaker2, new { @class = "not-complete" })
                            @Html.LabelFor(m => m.NotAppointMaker2, new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="row" id="divMarker2">
                        @{Model.Marker2.Prefix = "Marker2";
                        Model.Marker2.Person_Name = Model.Name;}

                        <h2 class="form-title">Substitute Decision Maker 2</h2>
                        @{Html.RenderPartial("Marker", Model.Marker2);}

                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            @Html.CheckBoxFor(m => m.NotAppointMaker3, new { @class = "not-complete" })
                            @Html.LabelFor(m => m.NotAppointMaker3, new { @class = "control-label" })
                        </div>
                    </div>
                    <div class="row" id="divMarker3">
                        @{Model.Marker3.Prefix = "Marker3";
                        Model.Marker3.Person_Name = Model.Name;}

                        <h2 class="form-title">Substitute Decision Maker 3</h2>
                        @{Html.RenderPartial("Marker", Model.Marker3);}

                    </div>
                    <div class="row">

                        <input type="hidden" id="GoNext" name="GoNext" value="true" />
                        <div class="form-group col-sm-6">
                            <input type="submit" class="btn btn-default btn-block next-btn" onclick="$('#GoNext').val('false');" value="@Content.Translate.Text("Previous")" />
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="submit" class="btn btn-default btn-block prev-btn" onclick="$('#GoNext').val('true');" value="@Content.Translate.Text("Save and Continue")" />
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>
</div>

<div class="after-form full-width">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                @{Html.RenderAction("ProgressHeader", new { step = 2 });}
            </div>
        </div>
    </div>
</div>

}







