/* iCheck plugin flat skin----------------------------------- */
.icheckbox_flat,.iradio_flat {
  display:inline-block;
  *display:inline;
  vertical-align:middle;
  margin:0;
  padding:0;
  width:20px;
  height:20px;
  background:url(../images/flat.png) no-repeat;
  border:none;
  cursor:pointer;
}
.icheckbox_flat {
  background-position:0 0;
}
.icheckbox_flat.checked {
  background-position:-22px 0;
}
.icheckbox_flat.disabled {
  background-position:-44px 0;
  cursor:default;
}
.icheckbox_flat.checked.disabled {
  background-position:-66px 0;
}
.iradio_flat {
  background-position:-88px 0;
}
.iradio_flat.checked {
  background-position:-110px 0;
}
.iradio_flat.disabled {
  background-position:-132px 0;
  cursor:default;
}
.iradio_flat.checked.disabled {
  background-position: -154px 0;
}
.unused .icheckbox_flat.checked {
  background-position:-176px 0;
}


/* HiDPI support */
@media (-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
  .icheckbox_flat,.iradio_flat {
    background-image:url(../images/flat@2x.png);
    -webkit-background-size:176px 22px;
    background-size: 176px 22px;
  }
}
/* END iCheck plugin----------------------------------- */
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {
  outline:0;
}
.slides,.flex-control-nav,.flex-direction-nav {
  margin:0;
  padding:0;
  list-style:none;
}
.flexslider {
  margin:0;
  padding:0;
}
.flexslider .slides>li {
  display:none;
  -webkit-backface-visibility:hidden;
}
.flexslider .slides img {
  width:100%;
  display:block;
}
.flex-pauseplay span {
  text-transform:capitalize;
}
.slides:after {
  content:"\0020";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
html[xmlns] .slides {
  display:block;
}
* html .slides {
  height:1%;
}
.no-js .slides>li:first-child {
  display:block;
}
.flexslider {
  margin:0 0 60px;
  background:#fff;
  border:4px solid #fff;
  position:relative;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:0 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow:0 1px 4px rgba(0,0,0,.2);
  -o-box-shadow:0 1px 4px rgba(0,0,0,.2);
  box-shadow:0 1px 4px rgba(0,0,0,.2);
  zoom:1;
}
.flex-viewport {
  max-height:2000px;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  transition:all 1s ease;
}
.loading .flex-viewport {
  max-height:300px;
}
.flexslider .slides {
  zoom:1;
}
.carousel li {
  margin-right:5px;
}
.flex-direction-nav {
  *height:0;
}
.flex-direction-nav a {
  text-decoration:none;
  display:block;
  width:40px;
  height:40px;
  margin:-20px 0 0;
  position:absolute;
  top:50%;
  z-index:10;
  overflow:hidden;
  opacity:0;
  cursor:pointer;
  color:rgba(0,0,0,0.8);
  text-shadow:1px 1px 0 rgba(255,255,255,0.3);
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  transition:all .3s ease;
}
.flex-direction-nav .flex-prev {
  left:-50px;
}
.flex-direction-nav .flex-next {
  right:-50px;
  text-align:right;
}
.flexslider:hover .flex-prev {
  opacity:.7;
  left:10px;
}
.flexslider:hover .flex-next {
  opacity:.7;
  right:10px;
}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover {
  opacity:1;
}
.flex-direction-nav .flex-disabled {
  opacity:0 !important;
  filter:alpha(opacity=0);
  cursor:default;
}
.flex-direction-nav a:before {
  font-family:"flexslider-icon";
  font-size:40px;
  display:inline-block;
  content:'\f001';
}
.flex-direction-nav a.flex-next:before {
  content:'\f002';
}
.flex-pauseplay a {
  display:block;
  width:20px;
  height:20px;
  position:absolute;
  bottom:5px;
  left:10px;
  opacity:.8;
  z-index:10;
  overflow:hidden;
  cursor:pointer;
  color:#000;
}
.flex-pauseplay a:before {
  font-family:"flexslider-icon";
  font-size:20px;
  display:inline-block;
  content:'\f004';
}
.flex-pauseplay a:hover {
  opacity:1;
}
.flex-pauseplay a.flex-play:before {
  content:'\f003';
}
.flex-control-nav {
  width:100%;
  position:absolute;
  bottom:-40px;
  text-align:center;
}
.flex-control-nav li {
  margin:0 6px;
  display:inline-block;
  zoom:1;
  *display:inline;
}
.flex-control-paging li a {
  width:11px;
  height:11px;
  display:block;
  background:#666;
  background:rgba(0,0,0,0.5);
  cursor:pointer;
  text-indent:-9999px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -o-border-radius:20px;
  border-radius:20px;
  -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  -o-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover {
  background:#fff;
}
.flex-control-paging li a.flex-active {
  background:#000;
  background:rgba(0,0,0,0.9);
  cursor:default;
}
.flex-control-thumbs {
  margin:5px 0 0;
  position:static;
  overflow:hidden;
}
.flex-control-thumbs li {
  width:25%;
  float:left;
  margin:0;
}
.flex-control-thumbs img {
  width:100%;
  display:block;
  opacity:.7;
  cursor:pointer;
}
.flex-control-thumbs img:hover {
  opacity:1;
}
.flex-control-thumbs .flex-active {
  opacity:1;
  cursor:default;
}
@media screen and (max-width:860px) {
  .flex-direction-nav .flex-prev {
    opacity:1;
    left:10px;
  }
  .flex-direction-nav .flex-next {
    opacity:1;
    right:10px;
  }
}
.flex-control-paging li a {
  border:2px solid #fff;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.flexslider {
  margin:0 0 0;
  border:0;
  position:relative;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -o-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  box-shadow:0;
  zoom:1;
  background:#fff;
}
.flex-control-nav {
  z-index:50;
  bottom:50px;
}
.quote .flex-control-nav {
  z-index:50;
  bottom:-70px;
}
.flex-direction-nav a {
  width:45px;
  height:45px;
}
iframe {
  border:0;
  box-shadow:none;
}
.flex-direction-nav a.flex-next:before,.flex-direction-nav a.flex-prev:before {
  content:"";
}
.flex-control-paging li a {
  background:transparent;
  border:solid #fff 2px;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  box-shadow:none;
}
.flex-control-paging li a.flex-active {
  background:#fff;
  border:solid #fff 2px;
}
.flex-direction-nav a.flex-prev {
  background:url(../images/icon-arrow-left.png);
}
.no-svg .flex-direction-nav a.flex-prev {
  background:url(../images/icon-arrow-left.png);
}
.flex-direction-nav a.flex-next {
  background:url(../images/icon-arrow-right.png);
}
.no-svg .flex-direction-nav a.flex-next {
  background:url(../images/icon-arrow-right.png);
}
.flex-control-nav,.flex-direction-nav {
  display:none;
}
body {
  color:#464646;
  font-size:16px;
  line-height:1.6em;
  margin-bottom:0;
}
p {
  margin-bottom:24px;
}
.main-content ul,.main-content ol {
  margin-bottom:24px;
}
a:focus {
  outline:none;
}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input {
  border:2px solid #CCE3EE;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
input[type="text"],input[type="password"],input[type="date"] {
  height:47px;
  padding:10px 15px;
  font-size:16px;
  line-height:1.528571;
  border-radius:9px;
}
.form-control {
  border:2px solid #CCE3EE;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
label {
  display:inline-block;
  max-width:100%;
  margin-bottom:10px;
  font-weight:700;
}
.radio label.radio-label {
  padding-left:0;
}
.radio-label .iradio_flat {
  margin-right:6px
}
.form-group {
  margin-bottom:15px;
  margin-top:30px;
}
legend {
  color: #464646;
}
legend.radio-group {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: #464646;
  border: 0;
  font-weight: 700;
}
.form-control:focus {
  border-color:#00AFD1;
  outline:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
.has-success .form-control {
  border-color:#1aa41c;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.has-success .form-control:focus {
  border-color:#1aa41c;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.btn {
  border:2px solid #00AFD1;
  font-size:20px;
  font-weight:bold;
  margin:25px auto 50px;
  background:#00AFD1;
  color:#fff;
  white-space:normal;
  max-width:430px;
  border-radius:12px;
  line-height:26px;
  padding:12px 40px;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active {
  background-color:transparent;
  border-color:#b5d1de;
  color:#b5d1de;
}
#nav-outer ul ul {
  display:none;
}
.btn.btn-block {
  max-width:none;
}
.btn:hover, a.btn:active {
  border:2px solid #00AFD1;
  background:#fff;
  color:#00AFD1;
  outline:none;
}
a {
  color:#00AFD1;
}
a:hover, a:active {
  color:#00AFD1;
}
input:focus {
  outline:none;
  border-color:#00AFD1;
}
input.search-site {
  outline:none;
  border-color:#CCE3EE;
}
.cookie-alert {
  background:#00AFD1;
  color:#fff;
  display:block;
}
.header {
  margin:0 0;
}
.header-nav.home {
  border-top:1px solid #CCE3EE;
  border-bottom:none;
}
.header-nav {
  border-top:1px solid #CCE3EE;
  border-bottom:1px solid #CCE3EE;
}
.login-btn {
  margin-top:10px;
  margin-bottom: 13px;
  font-weight:bold;
  color:#666;
  font-size:18px;
  padding-right:40px;
  padding-top:5px;
  background:url("../images/icon-lock.svg") no-repeat right 0;
  display:inline-block;
  height:30px;
  color:#00AFD1;

}
.no-svg .login-btn {
  background:url("../images/icon-lock.png") no-repeat right 0;
}
.login-btn:hover {
  background-position:right -364px;
  color:#00AFD1;
  text-decoration:none;
}
.header-user-detail {
  margin-top:15px;
  margin-bottom: 14px;
  color:#00AFD1;
  display:block;
  font-weight:bold;
  font-size:18px;
}
h2 {
  line-height: 1.4;
}
.ie .main-content img {
  width: auto !important;
}
.main-content img {
  height: auto !important;
  max-width: 100% !important;
  border: 0;
}
h2.form-title {
  color:#474747;
  margin:40px 15px 0 15px;
  display:block;
  padding:0 0 10px 0;
  position:relative;
  display:block;
  clear:both;
  border-bottom:#CCE3EE 1px solid;
}
.header-nav.home .header-user-detail {
  margin-top:0;
}
.header-nav.home .header-user-detail {
  padding:20px 20px 10px 20px;
}
.header-nav.home ul a {
  padding:20px 20px 10px 20px;
  display:block;
  font-weight:bold;
  color:#666;
  font-size:18px;
  white-space:nowrap;
}
.header-nav.home ul a:hover {
  color:#00AFD1;
  text-decoration:none;
}
.header-nav.home ul a:hover a {
  color:#464646;
}
.header-nav.home ul a:hover a:hover {
  color:#00AFD1;
}
.hero {
  padding:0px;
  position:relative;
  overflow:hidden;
  text-align:center;
}
.slider-hero {
  position:relative;
}
.slider-hero:before {
  content:"";
  border-bottom:10px solid #fff;
  border-right:10px solid transparent;
  position:absolute;
  bottom:0;
  left:0;
  width:50%;
  z-index:4;
}
.slider-hero:after {
  content:"";
  border-bottom:10px solid #fff;
  border-left:10px solid transparent;
  position:absolute;
  bottom:0;
  right:0;
  width:50%;
  z-index:4;
}
.hero .flexslider .hero-wrap .row {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 40px;
	width:100%;
}
.hero .flexslider .hero-wrap .row h1 {
    color: #fff;
}
.hero .flexslider .hero-wrap .row .col-md-4 {
    padding: 20px;
}
.hero .flexslider .hero-wrap .row .hero-item .text {
    /*position: absolute;
    left: 0;
    top: 0;*/
    color: #3C6E8F;
    height: 40px;
    background-color: #fff;
    width: 100%;
    position: relative;
    z-index: 20 !important;
    /*margin: 20px;*/
}
.hero .flexslider .hero-wrap .row .hero-item .text h2 {
    line-height: 40px;
    vertical-align: middle;
    text-align: left;
    padding: 0 10px;
    margin: 0;
}
.hero .flexslider .hero-wrap .row .hero-item .text a {
    color: #3C6E8F;
}
.hero .flexslider .hero-wrap .row .hero-item .text p {
    margin: auto;
    text-align: left;
}
.hero .flexslider .hero-wrap .row .hero-item .img {
    position: relative;
    top: -50px;
    z-index: 10;
    margin-bottom: -50px;
}
.hero .flexslider .hero-wrap .slider-hero h1 {
    display: none;
    position: absolute;
    left: 30px;
    top: 20px;
    color: #fff;
}
.hero .flexslider .hero-wrap .slider-hero h1 a {
    color: #fff;
}
#accordion-slider {
    display: none;
}
#hero-mobile .slider-hero3 {
    width: 100%;
    height: 40px;
    background-color: #3C6E8F;
    z-index: 20;
}
#hero-mobile .slider-hero3 h2 {
    line-height: 40px;
    vertical-align: middle;
    text-align: left;
    color: #fff;
    padding: 0 10px;
    margin: 0;
}
#hero-mobile .slider-hero3 h2 a {
    color: #fff;
}
#hero-mobile .slider-hero2 {
    position: relative;
    top: -10px;
    z-index: 10;
}
.hero .arrow {
    height: 10px;
    background-color: transparent;
    position: relative;
    top: 0px;
    z-index: 20;
}
.hero .arrow:before {
  content:"";
  border-bottom:10px solid transparent;
  border-right:10px solid #3C6E8F;
  position:absolute;
  bottom:0;
  left:0;
  width:50%;
  z-index:4;
}
.hero .arrow:after {
  content:"";
  border-bottom:10px solid transparent;
  border-left:10px solid #3C6E8F;
  position:absolute;
  bottom:0;
  right:0;
  width:50%;
  z-index:4;
}
    .hero .flexslider .hero-wrap .row .hero-item .arrow:before {
        border-right:10px solid #fff;
    }
    .hero .flexslider .hero-wrap .row .hero-item .arrow:after {
        border-left:10px solid #fff;
    }
#hero-mobile {
      display: none;
}
#nav-outer {
    display: none !important;
}
.footer {
  background:#CCE3EE;
  padding:50px 0 0 0;

}
.roundbox {
  border-radius:0 20px 20px 20px;
  background-color:#00AFD1;
  display:block;
  font-weight:bold;
}
.intro-links .roundbox {
  padding:0;
  margin:50px 15px 10px;
  color:#fff;
  font-size:17px;
  cursor:pointer;
}
.intro-links .roundbox {
  text-decoration:none;
  list-style:none;
}
.parent-with-children {
  background:url(../images/icon-arrow-down-sm.svg) no-repeat 92% 70px;
  display:block;
  color:#fff;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
.no-svg .parent-with-children {
  background:url(../images/icon-arrow-down-sm.png) no-repeat 96% 70px;
}
.parent-with-children:hover {
  text-decoration:none;
  color:#fff;
}
.intro-links {
  margin-bottom: 40px;
}
.intro-links .roundbox .menu-item a {
  display:block;
  padding:60px 80px 20px 20px;
  color:#fff;
}
.intro-links .roundbox li li.menu-item a {
  padding:5px 0;
}
.intro-links .roundbox .menu-item a:hover {
  text-decoration:none;
}
.intro-links .roundbox.icon-form {
  background:#00AFD1 url(../images/icon-form-nobg.svg) no-repeat 20px 20px;
}
.no-svg .intro-links .roundbox.icon-form {
  background:#00AFD1 url(../images/icon-form-nobg.png) no-repeat 20px 20px;
}
.intro-links .roundbox.icon-user {
  background:#00AFD1 url(../images/icon-user-nobg.svg) no-repeat 20px 20px;
}
.no-svg .intro-links .roundbox.icon-user {
  background:#00AFD1 url(../images/icon-user-nobg.png) no-repeat 20px 20px;
}
.intro-links .roundbox.icon-users {
  background:#00AFD1 url(../images/icon-users-nobg.svg) no-repeat 20px 20px;
}
.no-svg .intro-links .roundbox.icon-users {
  background:#00AFD1 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAcCAYAAADiHqZbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZdJREFUeNrsVu2NgzAMhdMNwAiMwG1AJygjMAIjdANG4DbgNqA3AWwQNqAb5GI1qaIIf/BV/tyTLBUanBfHfnYUbYDWOjXWGJv0E5N9zqIzAQQ8UiHgfXEmOaVpAMFkyx4fK4lBVFJmGRAr307OQJpTyRnk3oK15H6E68azCqJjCkIdJRGN3bwGLUPWJcZ6olIzQhtrzv/ch/nCjYBgZTdyVmESgmjjJBJtIhLtTrfSrvZP5E9HRC08UI9Fj0rQLarfhSJMtK5XQUCaCG+ml5CrkI8Lb02pl6EMDkX6lxBU3hUVTMFIkAUEZ/2HiOdyybYnsCGO47v3Xq1sSSDGX8bXwx3S9ubR+ZdE7RbkUuf9V+ttuCG5DftVHLEGyxdbmdNGcq8RCsnbZkkhTIJC0WuKwx6WLwwiKu2CPioF51OFU0mJJPmv9zvfqXXniH+H1JceIHdFHA2uH+44VyReox+QNVefXM7MYsnOg48j9+CmbHTYNPozBs72xsCQF03Ch5Bzgkzh09iFWfNt7H5QxC7RPw7AnwADAMTf05aZQFjzAAAAAElFTkSuQmCC') /*../images/icon-users-nobg.png*/ no-repeat 20px 20px;
}
.intro-links .home-sub-nav {
  margin-right:50px;
  font-size:16px;
}
.intro-links .home-sub-nav a {
  color:#fff;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
.intro-links .home-sub-nav a:hover {
  text-decoration:none;
  color:#00AFD1;
}
.intro-links .roundbox.icon-form:hover,.intro-links .roundbox.icon-user:hover,.intro-links .roundbox.icon-users:hover {
  background-color:#56B4D3;
}
.intro-links ul.home-sub-nav {
  list-style:none;
  padding-left:0;
  margin-left:20px;
  border-top:2px solid #fff;
  padding-top:10px;
}
.intro-links ul.home-sub-nav li.menu-item:last-child a {
  padding-bottom:20px;
}
/*.intro-block{background:#EDF4F8 url(../images/family.png) left bottom no-repeat;padding:70px 0;}.intro-block h2{font-size:18px;font-weight: normal;}*/
.intro-links h1 {
  font-family:"pragmatica-web",Arial,sans-serif;
  color:#56B4D3;
  font-size:42px;
  font-weight:200;
  margin-top:60px;
}
.hero-btn.btn-default {
  border:2px solid #00AFD1;
  font-size:24px;
  font-weight:bold;
  margin:5% 40px 5%;
  background:#fff;
  color:#00AFD1;
  white-space:normal;
  max-width:500px;
  padding:22px 40px;
  border-radius:12px;
  line-height:29px;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
.hero-btn.btn-default:hover {
  background:#56B4D3;
  border:2px solid #56B4D3;
  color:#fff;
}
.hero-wrap {
  position:relative;
  background-size:cover;
  margin:0;
}
.alert-text {
  line-height:24px;
  font-weight:bold;
  font-size:18px;
  margin-top:20px;
}
.cookie-alert-wrap {
  height:0;
  overflow:hidden;
  position:relative;
  width:100%;
}
.cookie-alert-wrap {
  height:auto !important;
}
.cookie-alert {
  position:relative;
  top:0;
  left:0;
  width:100%;
  line-height:28px;
}
.cookie-alert .btn-default {
  border:1px solid #fff;
  font-size:18px;
  font-weight:bold;
  margin:20px 20px 20px 0;
  background:transparent;
  color:#fff;
  white-space:normal;
  max-width:500px;
  padding:6px 18px;
  border-radius:6px;
  line-height:24px;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
.cookie-alert .btn-default:hover {
  border:1px solid #fff;
  color:#56B4D3;
  background:#fff;
}
.hero .btn-default:hover {
  background:#56B4D3;
  border:2px solid #56B4D3;
  color:#fff;
}
.hero-search {
}
.search-wrap {
  position:relative;
  margin:30px 0 0px 0;
}
.video-inner {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin: 40px 0;
}
.video-inner iframe,
.video-inner object,
.video-inner embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-wrap {
  position:relative;
}
input[type="text"].search-site {
  padding:8px 68px 6px 18px;
  border-radius:22px;
  line-height:30px;
  height:60px;
  width:100%;
  font-size:22px;
  transition:none;
}
.search-btn {
  width:62px;
  height:60px;
  margin-left:-90px;
  text-indent:-999px;
  background:#00AFD1 url(../images/icon-search-lg.svg) no-repeat 13px 12px;
  position:absolute;
  right:0;
  top:0;
  overflow:hidden;
  border:0;
  cursor:pointer;
}
.no-svg .search-btn {
  background:#00AFD1 url(../images/icon-search-lg.png) no-repeat 13px 12px;
}
button:focus {
  outline:none;
}
.search-btn:hover {
  background-color:#56B4D3;
}
.footer-links {
  border-top:0;
  width:100%;
  margin-top:30px;
  text-align:center;
}
.list-inline {
  margin:0 -15px;
}
.footer-links ul.list-inline li {
  display:block;
  margin:0;
  padding:0;
}
.footer-links ul li {
  padding:0;
}
.footer-links ul li a {
  color:#474747;
  width:100%;
  display:block;
  border-top:1px solid #00AFD1;
  padding:10px;
}
.footer-links ul li a:active {
  background: #e6f3fa;
}
.footer-links ul li a:hover {

  text-decoration:none;
  color:#00AFD1;
}

a.languages {
  background:url(../images/icon-msg-md.svg) no-repeat;
  padding:2px 0 0 60px;
  color:#00AFD1;
  font-weight:bold;
  font-size:16px;
  max-width:240px;
  display:block;
  height:46px;
  margin:0 auto 30px auto;
}
.no-svg a.languages {
  background:url(../images/icon-msg-md.png) no-repeat;
}
h1 {
  color:#00AFD1;
}
h2 {
  margin-top:20px;
  font-size:20px;
  color:#00AFD1;
}
h3 {
  font-weight:bold;
  font-size:16px;
}
h1.page-heading {
  margin:20px 0px 16px;
  font-size:42px;
  color:#00AFD1;
  border-bottom:2px solid #00AFD1;
  padding:0 0 15px 0;
}
.form-section-title {
  margin:20px 0px 16px;
  font-size:42px;
  color:#00AFD1;
  border-bottom:2px solid #00AFD1;
  padding:0 0 15px 0;
}
.main-content {
  margin-bottom:0;
}
.bread {
  margin:20px 0 0 0;
  font-size:14px;
  font-weight:bold;
}
.bread a {
  text-decoration:none;
  color:#00AFD1;
  font-weight:bold;
  font-size:1em;
  float:left;
  padding:5px 5px 5px 16px;
  line-height:30px;
  display:block;
  background:#CCE3EE;
  position:relative;
  margin-right:30px;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
.bread a:hover {
  color:#fff;
  background:#00AFD1;
}
.bread a:after {
  left:100%;
  top:50%;
  border:solid transparent;
  content:" ";
  height:0;
  width:0;
  position:absolute;
  pointer-events:none;
  border-color:rgba(136,183,213,0);
  border-left-color:#CCE3EE;
  border-width:20px;
  margin-top:-20px;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
.bread a:hover:after,.bread a:active:after {
  border-left-color:#00AFD1;
}
.bread span {
  line-height:30px;
  float:left;
  display:block;
  padding:5px 16px;
}
.bread span.bread-separator {
  background:url(../images/icon-arrow-sm.svg) 15px 13px no-repeat;
  width:36px;
  height:40px;
  line-height:30px;
  display:none;
}
.download-size {
  display:block;
  font-weight:normal;
}
.no-svg .bread span.bread-separator {
  background:url(../images/icon-arrow-sm.png) 15px 13px no-repeat;
}
.form-top .bread span.bread-separator {
  background:url(../images/icon-arrow-sm.svg) 15px -137px no-repeat;
}
.no-svg .bread span.bread-separator {
  background:url(../images/icon-arrow-sm.png) 15px -137px no-repeat;
}
.intro-links h1 {
  margin:0 20px 0;
}
.sagov-logo.pull-right {
  float:none !important;
}
.sagov-logo {
  display:block;
  text-align:center;
}
.flex-control-nav,.flex-direction-nav {
  display:none;
}
.sf-menu .search-wrap {
  margin:20px;
}
.header-nav {
  border-bottom:1px solid #CCE3EE;
  border-top:0;
}
.home-logo {
  display:block;
  margin:20px 0;
}
.nav-mob {
  border-bottom:1px solid #CCE3EE;
  width:100%;
  line-height:0.9em;
}
.nav-mob .search-btn-mob {
  width:62px;
  margin-left:-90px;
  text-indent:-999px;
  position:absolute;
  right:0;
  top:0;
  overflow:hidden;
  border:0;
  cursor:pointer;
  background:url(../images/icon-search-lg.svg) 13px -358px no-repeat transparent;
  height:52px;
}
.no-svg .nav-mob .search-btn-mob {
  background:url(../images/icon-search-lg.png) 13px -358px no-repeat transparent;
}
.navicon-button {
  display:inline-block;
  position:relative;
  padding:25px 15px;
  transition:0.25s;
  cursor:pointer;
  user-select:none;
  opacity:.8;
}
.navicon-button .navicon:before,.navicon-button .navicon:after {
  transition:0.25s;
}
.navicon-button:hover {
  transition:0.5s;
  opacity:1;
}
.navicon-button:hover .navicon:before,.navicon-button:hover .navicon:after {
  transition:0.25s;
}
.navicon-button:hover .navicon:after {
  top:-12px;
}
.navicon-button:hover .navicon:before {
  top:12px;
}
.navicon {
  position:relative;
  width:32px;
  height:2px;
  background:#00AFD1;
  -moz-transition:0.5s;
  -o-transition:0.5s;
  -webkit-transition:0.5s;
  transition:0.5s;
  border-radius:2px;
}
.navicon:after,.navicon:before {
  display:block;
  content:"";
  height:2px;
  width:32px;
  background:#00AFD1;
  position:absolute;
  z-index:-1;
  -moz-transition:0.5s 0.25s;
  -o-transition:0.5s 0.25s;
  -webkit-transition:0.5s 0.25s;
  transition:0.5s 0.25s;
  border-radius:2px;
}
.navicon:after {
  top:-10px;
}
.navicon:before {
  top:10px;
}
.open-btn:not(.steps) .navicon:before,.open-btn:not(.steps) .navicon:after {
  top:0 !important;
}
.open-btn .navicon:before,.open-btn .navicon:after {
  -moz-transition:0.5s;
  -o-transition:0.5s;
  -webkit-transition:0.5s;
  transition: 0.5s;
}
/* Minus */
.open-btn {
}
/* ?and+*/
.open-btn.plus .navicon,.open-btn.x .navicon {
  background:transparent;
}
.open-btn.plus .navicon:after,.open-btn.x .navicon:after {
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}
.open-btn.plus .navicon:before,.open-btn.x .navicon:before {
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
.open-btn.plus {
  -moz-transform:scale(0.75) rotate(45deg);
  -ms-transform:scale(0.75) rotate(45deg);
  -o-transform:scale(0.75) rotate(45deg);
  -webkit-transform:scale(0.75) rotate(45deg);
  transform:scale(0.75) rotate(45deg);
}
.logo-url {
  margin:15px 10px 25px;
  display:block;
}
.logo-url img {
    max-width: 400px;
}
.header-nav.home {
  display:none;
}
.has-error .form-control:focus {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border-color:#00AFD1;
}
.has-error {
  color:#EC3A00;
}
.has-error .form-control {
  border-color:#EC3A00;
}
.dropmenu {
  width:100%;
  min-height:2em;
  background-color:#F7FBFD;
  padding:35px 20px 20px 20px;
  z-index:100;
  position:relative;
  left:0;
  top:0;
  border-bottom:1px solid #CCE3EE;
  border-left:1px solid #CCE3EE;
  border-right:1px solid #CCE3EE;
  border-radius:0;
}
.open input[type="text"].search-site {
  border-radius:22px 22px 0 0;
}
.open .search-btn.roundbox {
  border-radius:0 20px 0 20px;
}
.dropmenu .closer {
  text-decoration:none;
  position:absolute;
  right:0;
  top:0;
  width:60px;
  height:40px;
  display:block;
}
.dropmenu ul {
  padding:0;
  margin:0;
  list-style:none;
}
.dropmenu ul li {
  border-bottom:1px solid #CCE3EE;
}
.dropmenu ul li:last-child {
  border-bottom:0;
}
.dropmenu ul a {
  color:#474747;
  display:block;
  padding:10px 15px;
  text-decoration:none;
}
.dropmenu ul a:hover {
  background-color:#e6f3fa;
  text-decoration:none;
  color:#00AFD1;
}
.dropmenu .highlight {
  background:yellow;
}
.sf-menu .dropmenu ul li a {
  height:auto;
  line-height:25px;
  min-height:0;
}
.sf-menu .dropmenu ul {
  background:transparent;
}
.sf-menu .dropmenu ul li {
  border:0;
}
.download-link {
  margin:40px 0;
  border:0 !important;
  padding:0 !important;
}
.download-link a {
  display:block;
  border:2px solid #00AFD1;
  border-radius:0 20px 20px 20px;
  padding:58px 25px 18px;
  font-weight:bold;
  color:#00AFD1;
  background:url(../images/icon-download.svg) 27px 19px no-repeat;
  text-decoration:none;
  line-height:1.4em;
}
.no-svg .download-link a {
  background:url(../images/icon-download.png) 27px 19px no-repeat;
}
.download-link a:hover,.download-link a:active {
  color:#fff;
  background-color:#00AFD1;
  background-position:27px -447px;
}
ul.progress-list {
  padding:0;
  margin:0;

}
.form-top ul.progress-list {
  margin-top:20px;
}
li.progress-list-item .icheckbox_flat {
  cursor:default;
}
li.progress-list-item {
  padding:20px;
  list-style:none;
  background:#fff;
  border-radius:0 29px 29px;
  margin:15px 0 15px 0;
}
li.progress-list-item .item-text {
  font-weight:bold;
  max-width:60%;
  display:inline-block;
  vertical-align:top;
}
li.progress-list-item a {
  font-weight:bold;
  position:relative;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
li.progress-list-item a:hover {
  display:block;
  text-decoration:none;
}
li.progress-list-item a:hover span.item-index.complete {
  color:#fff;
  background:#00AFD1;
  border:2px solid #00AFD1;
  font-weight:bold;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
.item-checkbox {
  float:right;
  margin-top:15px;
  margin-right:15px;
}
.progress-list.form-header li.progress-list-item {
  background:none;
}
.form-top h1.page-heading {
  margin:20px 0px 16px;
  font-size:42px;
  color:#fff;
  border-bottom:0;
  padding:0 0 15px 0;
}
ul.progress-list.form-header li.progress-list-item {
  padding:0;
  margin:15px 0 0 0;
}
ul.progress-list.form-header a.item-index {
  padding:0;
  color:#fff;
  background:none;
  border-radius:0 22px 22px;
  width:50px;
  height:50px;
  line-height:45px;
  text-align:center;
  display:inline-block;
  margin-right:15px;
  border:2px solid #CCE3EE;
  font-weight:bold;
}
ul.progress-list.form-header a.item-index.complete{
  color:#00AFD1;
  background:#CCE3EE;
}

ul.progress-list.form-header a.item-index:hover {
  color:#00AFD1;
  background:#fff;
  text-decoration:none;
  border:2px solid #fff;
}
span.item-index {
  display:inline-block;
  padding:0;
  color:#474747;
  background:#fff;
  border-radius:0 22px 22px;
  min-width:50px;
  width: auto;
  padding: 0 13px;
  height:50px;
  line-height:45px;
  text-align:center;
  margin-right:30px;
  border:2px solid #e4f2f8;
  font-weight:bold;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
ul.progress-list.form-header span.item-index {
  padding:0;
  color:#fff;
  background:none;
  border-radius:0 22px 22px;
  min-width:50px;
  width: auto;
  padding: 0 13px;
  height:50px;
  line-height:45px;
  text-align:center;
  display:inline-block;
  margin-right:15px;
  border:2px solid #CCE3EE;
  font-weight:bold;
}
.after-form ul.progress-list.form-header a.item-index.complete {
  color: #fff;
  background: #00AFD1;
  border:2px solid #00AFD1;
}
.after-form ul.progress-list.form-header a.item-index.complete:hover {
  color: #00AFD1;
  background: #fff;
  border:2px solid #fff;
}
.after-form ul.progress-list.form-header span.item-index {
  color:#00AFD1;
  border:2px solid #00AFD1;
}
ul.progress-list.form-header .progress-list-item a {
  padding:0;
  color:#fff;
  background:none;
  border-radius:0 22px 22px;
  min-width:50px;
  width: auto;
  padding: 0 13px;
  height:50px;
  line-height:45px;
  text-align:center;
  display:inline-block;
  margin-right:15px;
  border:2px solid #CCE3EE;
  font-weight:bold;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
span.item-index.complete {
  color:#00AFD1;
  background:#CCE3EE;
  border:2px solid #CCE3EE;
  font-weight:bold;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}
ul.progress-list.form-header a.item-index.current {
  color:#fff;
  border:#fff 2px solid;
}
ul.progress-list.form-header a.item-index.current:hover {
  color:#fff;
  border:#fff 2px solid;
  cursor:default;
  background:none;
}
.after-form ul.progress-list.form-header a.item-index.current {
  color:#00AFD1;
  background:#fff;
  border:#fff 2px solid;
}
.after-form ul.progress-list.form-header a.item-index.current:hover {
  color:#00AFD1;
  background:#fff;
  border:#fff 2px solid;
  cursor:default;
}
.form-top {
  margin:0px 0px 60px;
  background:rgb(0,175,209);
}
.form-top .page-heading {
  color:#fff;
}
.progress-bg {
  padding:50px 0 0 0;
  background:#e4f2f8;
}
.tip-detail-inner {
  border:2px#00AFD1 solid;
  border-radius:20px 0 20px 20px;
  padding:25px 30px 0 30px;
  margin-bottom:15px;
}
a.tip-trigger {
  right:15px;
  position:absolute;
  top:0;
}
.tip-trigger {
  text-indent:-999px;
  width:38px;
  height:38px;
  overflow:hidden;
  display:block;
}
.icon-user .tip-trigger {
  background:url(../images/icon-user-sm.svg) no-repeat;
}
.icon-info .tip-trigger {
  background:url(../images/icon-info-sm.svg) no-repeat;
}
.icon-form .tip-trigger {
  background:url(../images/icon-form-sm.svg) no-repeat;
}
.form-group {
  position:relative;
}
.form-group label {
  margin-right:50px;
}
.tip-title {
  font-weight:bold;
}
.main-content.nomargin {
  margin-bottom:0;
}
.collapse-icon-info {
  background:url(../images/icon-info-sm.svg) no-repeat;
  display:block;
  margin-bottom:32px;
  margin-top:34px;
  height:36px;
  width:38px;
}
.collapse-user-icon-info {
  background:url(../images/icon-user-sm.svg) no-repeat;
  display:block;
  margin-bottom:32px;
  margin-top:34px;
  height:36px;
  width:38px;
}
.before-form.full-width h2 {
  margin-bottom:40px;
}
.full-width {
  background-color:#e4f2f8;
  border-bottom:2px solid #fff;
}
.collapse-wrap {
  margin-bottom:40px
}
.form-collapse-target {
  display:block;
  margin-bottom:34px;
  margin-top:34px;
  background:url(../images/icon-arrow-lg.svg) 0 -670px no-repeat;
  height:35px;
  width:35px;
}
.form-collapse-target.collapsed {
  background-position: 0 -6px;
}
.form-collapse-target:hover {
  background-position: 0 -459px;
}
.form-collapse-target.collapsed:hover {
  background-position: 0 -228px;
}

.form-collapse-target-foot {
  display:block;
  margin-bottom:34px;
  margin-top:34px;
  background:url(../images/icon-arrow-lg.svg) 0 -670px no-repeat;
  height:35px;
  width:35px;
}
.form-collapse-target-foot:hover {
  background-position: 0 -459px;
}
.after-form.full-width ul.progress-list {
  margin-top: 35px;
  margin-bottom:50px;
}
.after-form.full-width {
  background:#e4f2f8;
  border:0;
}
.main-content.no-margin {
  margin-bottom:0;
}
.main-content ul {
  padding-left:13px;
  display:table;
}
.main-content li {
  list-style-image:url(../images/custom-bullet.svg);
  padding-left:6px;
}
.no-svg .main-content li {
  list-style-image:url(../images/custom-bullet.png);
}

h3.block-title {
  background:#00AFD1;
  padding:5px;
  color:#fff;
}
.validation-summary-errors {
  padding: 16px 22px 7px 22px;
  color:#EC3A00;
  border: 2px solid #EC3A00;
  border-radius: 0 20px 20px;
  margin-top:30px;
  font-weight: bold;
}
.main-content .validation-summary-errors ul {
  margin-bottom:0;
}
.main-content .validation-summary-errors li::before {
  color:#EC3A00;
}
.icheckbox_flat {
  margin-right: 10px;
  margin-bottom: 5px;
}
div.feature-box {
  border-radius:0 20px 20px 20px;
  color:#fff;
  background:#00AFD1 !important;
  padding:32px 38px !important;
  margin:20px 0;
  border: 0 !important;
}
div.feature-box a, div.feature-box a:hover {
  color:#fff;
}
.feature-box h3 {
  margin-top:0;
}
.flexslider .slides>li {
  display:block;
}
input.form-control.input-validation-error, textarea.form-control.input-validation-error {
  border-color:#EC3A00;
}
span.field-validation-error {
  margin-top:10px;
  color:#EC3A00;
  display: block;
}
.form-control[disabled] {
  border-color:#666;
}
.form-top h1.page-heading.complete {
  margin-top:110px;
}
span.counter {
  margin-top:10px;
  float:right;
  color:#8f8f8f;
}
.nav-mob-row {
  border-bottom:1px solid #CCE3EE;
}

ul.nav {
  width:100%;

  padding:0;
  margin:0;
  margin-bottom: 40px;
}
ul.nav ul {
  margin:0;
}
ul.nav li {
  margin:0;
  padding:0;
  list-style:none;
}

.nav li a {
  padding:0;
  height: auto;
  line-height: 20px;
  padding-top:14px;
  padding-bottom:14px;
  text-align: left;
  display: block;
  font-weight: bold;
  color: #474747;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 15px;
  border-bottom: 1px solid #CCE3EE;
  width:100%;
  font-size:14px;
  line-height:18px;
}
ul.nav li li a {
  background: #e6f3fa;
  display:block;
  width:100%;
  height: auto;


}
ul.nav li li li a {
  padding-left:40px;
  font-weight: normal;
}
.nav li a:hover, .nav li a:focus {
  background:none;
  color:#00AFD1;
}
ul.nav li.active a {
  color:#00AFD1;
}
ul.nav li.active li a {
  color: #474747;
}

ul.nav li.active li a:hover {
  color:#00AFD1;
  background: #e6f3fa;
}
ul.nav li li.active a {
  color:#00AFD1;
}
.footer-subnav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align:left;
}
.footer-subnav li {
  margin: 0;
  padding: 0;
}
.footer-links-all h2 {
  margin:0;
  margin-left: -15px;
  margin-right: -15px;
  border-top:0;
}
.footer-links ul li a {
  background: #fff;
}
.footer-links-all h2 a {
  color:#474747;
  width:100%;
  display:block;
  border-top:1px solid #CCE3EE;
  padding:10px;

  text-align:center;
  background: #e6f3fa;
}

.footer-links-all h2 a:active {
  background:#fff;
  text-decoration:none;

}
.footer-links-all h2 a:hover {
  text-decoration:none;
  color:#00AFD1;
}
.footer-links-all {
  border-top:0;
}

.footer-links-all {
  border-top: 0;
  width: 100%;
  margin-top: 0;
  text-align: center;
}
.footer-links-all h2.menu-item {
  text-align:left;
  font-size: 16px;
  font-weight:bold;
}
.footer-links-all ul li a {
  font-size: 14px;
  color: #474747;
  line-height: 18px;
  margin: 0 0 6px;
  display: block;
}
.footer-links-all ul li a:hover {
  color: #00AFD1;
}
.footer-links {
  margin-top:0;
}
.footer-links ul li a {

  border-top:1px solid #CCE3EE;
}


@media (min-width:480px) {
  .hero-wrap {
    position:relative;
  }
}
@media (min-width:768px) {

  .footer-links-all h2 a {
    border-top:none;
    padding:0;
    text-align:left;
    color:#00AFD1;
    background: none;
  }
  .footer-links ul li a {
    background: none;
    border-top:none;
  }
  .footer-links-all h2 {
    margin: 20px 0 10px 0;
  }
  .footer-links {
    margin-top:30px;
  }
  .footer-links-all {
    border-top:2px solid #00AFD1;
    margin-top: 30px;
  }
  .footer-links-all h2 a:active,.footer-links-all h2 a:hover {
    background:none;
    text-decoration:none;
    color:#00AFD1;
  }
  .nav li a {
    padding-left: 12px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
    line-height:18px;
  }
  ul.nav li li a {
    padding-left: 24px;
    font-size:14px;
    line-height:18px;
  }
  ul.nav li li li a {
    padding-left: 12px;
    font-size:14px;
    line-height:18px;
  }
  ul.nav li.active li a:hover {
    color:#00AFD1;
  }


  .cookie-alert {
    position:relative;
  }
  .alert-text {
    font-size:18px;
  }
  .cookie-alert .btn-default {
    font-size:18px;
  }
  .download-link {
    margin:40px 16.6666%;
  }
  .main-content {
    margin-bottom:30px;
  }
  .nav-mob-row {
    border-bottom:0;
  }
  .nav-mob-row.clearfix:after {
    clear:none;
  }
  .progress-bg {
    padding:50px 0 10px 0;
    background:#e4f2f8;
  }
  .dropmenu {
    position:absolute;
    top:60px;
  }
  .hero-wrap {
    position:relative;
    margin:0;
  }
  .header-user-detail {
    margin-top:45px;
  }
  .login-btn {
    margin-top:20px;
  }
  .col-sm-push-5 .login-btn {
    margin-top:40px;
  }

  html {
    position:relative;
    min-height:100%;
  }
  .footer {

    bottom:0;
    width:100%;
    margin-top: 0;
    background:#CCE3EE;
    padding:50px 0;
  }
  .bread {
    margin:10px 0 0 0;
  }
  .header-nav.home {
    display:block;
  }
  .intro-links .roundbox {
    margin:0px 15px 75px;
  }

  .footer-links ul.list-inline li {
    display:inline-block;
    margin:0;
    padding:0 20px 0 0;
  }
  .footer-links {
    border-top:1px solid #474747;
    width:100%;
    margin-top:30px;
    text-align:left;
  }
  .footer-links .list-inline {
    display:inline-block;
    margin:15px auto 15px auto;
  }
  .footer-links ul li a:active,.footer-links ul li a:hover {
    background:none;
    text-decoration:underline;
  }
  .footer-links ul li a {
    color:#474747;
    border-top:0;
    font-size:14px;
  }
  a.languages {
    margin:0;
  }
  .bread a {
    text-decoration:none;
    color:#00AFD1;
    font-weight:bold;
    font-size:1em;
    float:left;
    padding:5px 0 0 0;
    line-height:30px;
    display:block;
    background:transparent;
    position:relative;
    margin-right:0px;
    border-bottom:2px solid transparent;
  }
  .form-top .bread a {
    color:#fff;
  }
  .bread a:hover {
    color:#00AFD1;
    background:none;
    border-bottom:2px solid #00AFd1;
  }
  .form-top .bread a:hover {
    color:#fff;
    background:none;
    border-bottom:2px solid #fff;
  }
  .bread a:after {
    border:0;
  }
  .bread span {
    line-height:30px;
    float:left;
    height:30px;
    display:block;
    padding:5px 0;
    background:transparent;
  }
  .form-top .bread span {
    color:#fff;
  }
  .bread span.bread-separator {
    display:block;
  }
  .header-nav {
    border-top:1px solid #CCE3EE;
  }
  h1.page-heading {
    margin:40px 0px 16px;
  }
  .sf-menu {
    border-bottom:0;
  }
  .intro-links h1 {
    font-size:56px;
    margin-bottom:50px;
  }
  .hero .btn-default {
    position:relative;
    z-index:3;
  }
  .slider-hero:before {
    border-bottom:21px solid #fff;
    border-right:21px solid transparent;
  }
  .slider-hero:after {
    border-bottom:21px solid #fff;
    border-left:21px solid transparent;
  }
  .sagov-logo.pull-right {
    float:right !important;
  }
  .header {
    margin:10px 0;
  }

  .intro-links .roundbox .menu-item a {
    display:block;
    padding:60px 135px 20px 20px;
    color:#fff;
  }
  ul.progress-list {
    padding:0;
    margin:0;
    margin-bottom:25px;
  }
  .form-top ul.progress-list {
    margin-top:50px;
  }
  .form-top h1.page-heading.complete {
    margin-top:194px;
  }
}

@media (min-width:992px) {
  .intro-links h1 {
    font-size:56px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .flex-control-nav,.flex-direction-nav {
    display:block;
  }
  .alert-text {
    line-height:74px;
    margin-top:0;
  }
  .hero-btn {
    margin-top:200px;
  }
  .hero-btn.btn-default {
    border:2px solid #00AFD1;
    font-size:24px;
    font-weight:bold;
    margin:-220px auto 50px;
    background:#00AFD1;
    color:#fff;
    white-space:normal;
    max-width:430px;
    padding:22px 40px;
    border-radius:12px;
    line-height:29px;
  }
  .hero-btn.btn-default:hover {
    background:#56B4D3;
    border:2px solid #56B4D3;
    color: #fff;
  }
}

@media (max-width:1024px) {
  .hero .flexslider .hero-wrap .row .col-md-4 {
    padding: 10px 20px;
  }
  .hero .flexslider .hero-wrap .row .hero-item .text {
    /*top: 10px;*/
  }
}
@media (max-width:860px) {
  .hero .flexslider .hero-wrap .row {
    display: none;
  }
  .hero .flexslider .hero-wrap .slider-hero h1 {
    display: block;
  }
  #accordion-slider {
    display: block;
  }
  #hero-mobile {
      max-width: 600px;
      margin:auto;
      display: block;
  }
  #hero-desktop, .hidden-mobile {
      display: none;
  }
  #nav-outer {
    display: block;
  }
  .logo-url img {
      max-width: 300px;
  }
}
