.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sf-menu {
    display: block;
    border-collapse: separate;
    float: none;
    width: 100%;
    overflow: hidden;
    border-spacing: 10px 0;
}

    .sf-menu.in {
        border-bottom: 1px solid #CCE3EE;
    }

.sf-arrows .sf-with-ul {
    padding-right: 2.5em;
}

.sf-menu.collapse {
    height: 0;
}

.sf-menu li {
    float: none;
    display: block;
}

.sf-menu ul {
    margin-top: 0;
    background: #fff;
    border-radius: 0;
}

.sf-menu li, .sf-menu li li {
    border-bottom: 0;
}

    .sf-menu li a, .sf-menu li li a {
        border-bottom: 1px solid #CCE3EE;
    }

    .sf-menu li:hover, .sf-menu li li:hover, .sf-menu li.current {
        border-bottom: 0;
    }

    .sf-menu li a {
        height: auto;
        line-height: 20px;
	padding-top:15px;
    padding-bottom:15px;

        text-align: left;
        display: block;
        font-weight: bold;
        color: #474747;
        text-decoration: none;
        padding-left: 20px;
        padding-right:15px;
    }
    .sf-menu li.current a {
        color: #00AFD1;
    }
     .sf-menu li.current li a {
        color: #474747;
    }
        .sf-menu li a:hover, .sf-menu li a:active,  .sf-menu li.current li a:hover {
            color: #00AFD1;
        }

    .sf-menu li.has-subs a {
        background: url(../images/icon-arrow-down-sm.svg) 97% -399px no-repeat;
    }

        .sf-menu li.has-subs a:hover, .sf-menu li.has-subs a:active, .sf-menu li.current.has-subs a {
            background-position: 97% -820px;
        }

    .sf-menu li.has-subs li a {
        background: none;
    }

.sf-menu ul li a {
    width: 100%;
    float: none;
    display: block;
    /*padding:16px 30px 14px 30px;*/
    height: 54px;
    line-height: 20px;
	padding-top:15px;
    padding-bottom:15px;

}

.header-nav ul {
    display: block;
}

ul.subnav {
    float: none;
    width: 100%;
    position: relative;
    background: #e6f3fa;
}


@media (min-width:992px) {
    /*** ESSENTIAL STYLES ***/
    .sf-menu ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 99;
         border-spacing: 0;
            border-collapse: collapse;
            margin-top: 7px;
            /* max-width:12em;*/ /* allow long menu items to determine submenu width */
            /* *width:12em;*/ /* no auto sub width for IE7,see white-space comment below */
    }

    .sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
        display: block !important;
        height: auto !important;
    }

    .sf-menu a {
        display: block;
        position: relative;
    }

    .sf-menu ul ul {
        top: 0;
        left: 100%;
    }
    /*** MATTS SKIN 2.0 ***/
    .sf-menu {
        border-spacing: 10px 0;
        float: left;
        display: table;
        border-collapse: separate;
        overflow: visible;
    }

        .sf-menu li {
            position: relative;
            vertical-align: middle;
            display: table-cell;
            height: auto;
            border-bottom: 6px solid #fff;
            white-space: nowrap;
            /* no need for Supersubs plugin */
            *white-space: normal;
            /* ...unless you support IE7 (let it wrap) */
            -webkit-transition: background .2s;
            -moz-transition: background .2s;
            -o-transition: background .2s;
            transition: background .2s;
        }
    /* old firefox fix */
    .no-tablecellpositionrelative .sf-menu li {
        float: left;
    }


    .sf-menu li:hover, .sf-menu li.current {
        border-bottom-width: 6px;
        border-bottom-style: solid;
        border-bottom-color: #00AFD1;
    }

    .sf-menu ul li, .sf-menu ul li:hover {
        border-bottom: 0;
    }

    .sf-menu li:hover a, .sf-menu a:hover, .sf-menu li.current a {
        color: #00AFD1;
        text-decoration: none;
    }

    .sf-menu li:hover li a, .sf-menu li.current li a, .sf-hover li a {
        min-width: 192px;
        color: #464646;
        text-decoration: none;
    }

        .sf-menu li:hover li a:hover, .sf-menu li.current li a:hover {
            color: #00AFD1;
        }

    .sf-menu li a {
        padding: 20px 20px 16px 20px;
        display: block;
        font-weight: bold;
        color: #666;
        line-height: 22px;
        font-size: 18px;
        white-space: normal;
        text-align: center;
    }

    .sf-menu ul li a {
        padding: 5px 30px 5px 30px;
        min-height: 0;
        font-size: 16px;
    }

    .sf-menu ul li {
        display: block;
    }

        .sf-menu ul li a {
            display: block;
            max-width: none;
            white-space: nowrap;
            text-align: left;
        }

        .sf-menu ul li:first-child a {
            padding-top: 15px;
        }

        .sf-menu ul li:last-child a {
            padding-bottom: 18px;
        }

    .sf-menu ul a {
        padding: .75em 1em;
        text-decoration: none;
        -ms-zoom: 1;
        zoom: 1;
        /* IE7 */
        display: table-cell;
    }

    .sf-menu ul {
        background: #E4EFF4;
        border-radius: 0 30px 30px 30px;
    }

        .sf-menu ul ul li {
            background: #E4EFF4;
        }

    .sf-menu li:hover, .sf-menu li.sfHover {
        /* only transition out,not in */
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
    /*** arrows (for all except IE7) **/
    .sf-arrows .sf-with-ul {
        padding-right: 2.5em;
        *padding-right: 1em;
        /* no CSS arrows for IE7 (lack pseudo-elements) */
    }
        /* styling for both css and generated arrows */
        .sf-arrows .sf-with-ul:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0em;
            margin-top: -15px;
            height: 30px;
            width: 30px;
            background: url(../images/icon-arrow-down-sm.svg) 3px -410px no-repeat;
        }



        .sf-arrows .sf-with-ul:hover:after, .sfHover .sf-arrows .sf-with-ul:after {
            background-position: 3px -831px;
        }

        .sf-arrows .current .sf-with-ul:after, .sf-arrows .sfHover .sf-with-ul:after {
            background-position: 3px -831px;
        }


    .sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after {
        border-top-color: white;
        /* IE8 fallback colour */
    }
    /* styling for right-facing arrows */
    .sf-arrows ul .sf-with-ul:after {
        margin-top: -5px;
        margin-right: -3px;
        border-color: transparent;
        border-left-color: #dFeEFF;
        /* edit this to suit design (no rgba in IE8) */
        border-left-color: rgba(255,255,255,.5);
    }

    .sf-arrows ul li > .sf-with-ul:focus:after, .sf-arrows ul li:hover > .sf-with-ul:after, .sf-arrows ul .sfHover > .sf-with-ul:after {
        border-left-color: white;
    }

    .header-nav ul {
        display: table;
        position: static;
    }

        .header-nav ul ul {
            display: table;
            position: absolute;
        }

    .sf-menu li a, .sf-menu li li a {
        border-bottom: 0;
    }

    .sf-menu li a {
        padding: 20px 10px 16px 8px;
        display: block;
        font-weight: bold;
        color: #666;
        font-size: 18px;
        display: block;
        font-weight: bold;
        color: #666;
        font-size: 18px;
        white-space: normal;
        text-align: center;
    }

    .sf-menu li.has-subs a {
        background: none;
    }

    ul.subnav {
        width: auto;
    }

    .sf-menu ul li a {
        height: auto;
        line-height: 35px;
    }
}
