﻿@model  Acd.Web.Public.Models.Columns
@using Acd.Web.Public.Models
@using N2.Collections

<div class="col-sm-12 col-md-10 col-lg-10 col-md-offset-2">
    @foreach (var column in Model.ColumnsList)
    {
        var cssClass = (column.Offset > 0) ?
            string.Format("col-sm-{0} col-md-{0} col-lg-{0} col-md-offset-{1}", column.NumberOfColumns, column.Offset) :
            string.Format("col-sm-{0} col-md-{0} col-lg-{0}", column.NumberOfColumns);
        
        <div class="@(cssClass)">
            @{
        Html.DroppableZone(column, "Column").Render();
            }
        </div>
    }
</div>
