﻿@model ContentLinksPart
@using Acd.Web.Public.Models

@{
    var id = Model.ID;
    var iconClass = Content.Data.LinkIconClass;
    var title = Content.Data.Title;
}
<ul class="roundbox icon-@iconClass">
    <li class="menu-item"><a class="parent-with-children" data-toggle="collapse" href="#home-sub-nav@(id)">@title</a>

        <ul class="home-sub-nav collapse" id="home-sub-nav@(id)">
            @foreach (var item in Model.ContentLinkList.Where(x => x.LinkItem != null))
            {
                <li class="menu-item"><a href="@item.LinkItem.Url">@item.LinkItem.Title</a></li>
            }
        </ul>
    </li>
</ul>
