﻿@using Acd.Web.Public.Models

<div class="hero">
    <div class="flexslider">
        <ul class="slides">
            <li class="hero-wrap">
                <img src=" /Content/images/banner.jpg" />
            </li>
        </ul>
    </div>

</div>

<div class="hero-btn">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="hero-mob">
                    <a class="btn btn-default btn-block ghost" href="@Model.LinkItem.Url">@Model.Title</a>
                </div>
            </div>
        </div>
    </div>
</div>